<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-4">Roles</th>
                <th class="col-md-1">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% if results.results is not empty %}
                    {% for user in results.results %}
                        <tr>
                            <td>{{ loop.index }}</td>

                            <td>{{ user.email }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.roles|join(',') }}</td>
                            <td>
                                {% if app.user != user %}
                                    <a href="{{ path('homepage', { '_switch_user': user.username }) }}">Impersonate</a>
                                {% endif %}
                                <a href="{{ path('user_roles', { 'id': user.id }) }}">Edit roles</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td class="text-center" colspan="5">There is no results.</td>
                {% endif %}
            </tbody>
        </table>
    </div>


    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if results.nbPages > 1 %}
            <li{% if results.page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('user_index', {'q': results.query, 'p': results.page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, results.nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < results.page and (p >= (results.page - nbBorderPages)) ) or
                ( p == results.page ) or
                ( p > results.page and (p <= (results.page + nbBorderPages)) ) or
                ( p > (results.nbPages - nbExtremPages) )
                %}
                    <li{% if p == results.page %} class="active"{% endif %}>
                        <a href="{{ path('user_index', {'q': results.query, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (results.page - nbBorderPages - 1)) or (p == (results.page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if results.page == results.nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('user_index', {'q': results.query, 'p': results.page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
