<div id="seller-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Seller</th>
                    <th class="col-md-3">Offer reference</th>
                    <th class="col-md-3">Offer file</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="col-md-2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            {% if results.results is not empty %}
                {% for seller in results.results %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ seller.name }}</td>
                        <td>{{ seller.offerReference }}</td>
                        <td>
                            {% if seller.offerName is not null %}
                                <a href="{{ path('seller_download_offer', { 'id': seller.id }) }}">
                                    <span class=" glyphicon glyphicon-download" aria-hidden="true"></span> Document
                                </a>
                            {% else %}
                                No file
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% embed "seller/_delete_form.html.twig" with { seller: seller } only %}
                                    {% block btn %}
                                        <a class="btn btn-warning" href="{{ path('seller_edit', { 'id': seller.id}) }}">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                        </a>
                                    {% endblock %}
                                {% endembed %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="5">There is no sellers.</td>
            {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if results.nbPages > 1 %}
            <li{% if results.page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('seller_index', {'q': results.query, 'p': results.page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, results.nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < results.page and (p >= (results.page - nbBorderPages)) ) or
                ( p == results.page ) or
                ( p > results.page and (p <= (results.page + nbBorderPages)) ) or
                ( p > (results.nbPages - nbExtremPages) )
                %}
                    <li{% if p == results.page %} class="active"{% endif %}>
                        <a href="{{ path('seller_index', {'q': results.query, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (results.page - nbBorderPages - 1)) or (p == (results.page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if results.page == results.nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('seller_index', {'q': results.query, 'p': results.page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
