{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user_profile') }}">My profile</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <fieldset>
            <legend>Edit profile</legend>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">
                    Save changes
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
