{% extends "base.html.twig" %}

{% block title %}Primer: {{ primer.autoName }} - {{ primer.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('primer_index') }}">Primers list</a></li>
    <li class="breadcrumb-item active">{{ primer.autoName }} - {{ primer.name }}</li>
{% endblock %}

{% block body %}
    <div class="card my-3">
        <div class="card-header">
            <h2>{{ primer.autoName }} - {{ primer.name }}</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <p class="text-right">
                        Created the {{ primer.created|date("m/d/Y") }} by {{ primer.createdBy.fullName }}<br>
                        Edited the {{ primer.updated|date("m/d/Y") }} by {{ primer.updatedBy.fullName }}
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Informations
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">AutoName: {{ primer.autoName }}</li>
                            <li class="list-group-item">Name: {{ primer.name }}</li>
                            <li class="list-group-item">Orientation: {{ primer.orientation|capitalize }}</li>
                            {% if primer.hybridationTemp is not null %}
                                <li class="list-group-item">Hybridation temperature: {{ primer.hybridationTemp }}°C</li>
                            {% endif %}
                        </ul>
                        <div class="card-body">
                            <p>Description:</p>
                            <p>{{ primer.description ? primer.description : 'N/A' }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Sequence
                        </div>
                        <div class="card-body">
                            <span class="five-prime-extension">{{ primer.fivePrimeExtension }}</span>{{ primer.sequence }}
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            Tubes
                        </div>
                        <table class="table table-striped mb-0">
                            <tr>
                                <th>Box</th>
                                <th>Cell</th>
                            </tr>
                            {% for tube in primer.tubes %}
                                <tr>
                                    <td>
                                        <a href="{{ path('box_view', { 'id': tube.box.id, 'slug': tube.box.slug }) }}">
                                            {{ tube.box.name }}
                                        </a>
                                    </td>
                                    <td>{{ tube.cellName }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="2">There is no tubes.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'primer/_nucleotides_table.html.twig' %}
                </div>
            </div>
        </div>

        {% if primer.isAuthor(app.user) or primer.getGroup().isAdministrator(app.user) %}
            <div class="card-footer text-right">
                {{ form_start(delete_form) }}
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-warning" href="{{ path('primer_edit', { 'id': primer.id, 'slug': primer.slug }) }}">
                            <span class="fa fa-edit"></span> Edit
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-trash"></span> Delete
                        </button>
                    </div>
                {{ form_end(delete_form) }}
            </div>
        {% endif %}
    </div>

    {% include '_delete_confirmation.html.twig' %}
{% endblock %}
