{% extends 'base.html.twig' %}

{% block title %}
    Add an equipment
{% endblock %}

{% block nav %}
    {% include 'nav/equipment.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('equipment_index') }}">Equipments</a></li>
    <li class="active">Add an equipment</li>
{% endblock %}

{% block body %}
    <h1>Add an equipment</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
