{% extends 'base.html.twig' %}

{% block title %}
    Edit an equipment
{% endblock %}

{% block nav %}
    {% include 'nav/equipment.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('equipment_index') }}">Equipments</a></li>
    <li class="breadcrumb-item"><a href="{{ path('equipment_view', { 'id': equipment.id, 'slug': equipment.slug }) }}">{{ equipment.name }}</a></li>
    <li class="breadcrumb-item active">Edit an equipment</li>
{% endblock %}

{% block body %}
    <h1>Equipment edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-secondary" value="Edit" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
