<div class="row">
    <form id="list-filter-form" method="get" data-url="{{ url }}" data-ajax-url="{{ ajaxUrl }}">
        {% if query is defined %}
            <div class="col-md-3">
                <input type="text" id="query" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>
        {% endif %}

        {% if queryGroup is defined %}
            <div class="col-md-2">
                <select id="group-filter" name="group" class="form-control col-md-3">
                    {% for group in app.user.groups %}
                        {% if queryGroup is not null and group.id == queryGroup %}
                            <option value="{{ group.id }}" selected="selected">{{ group.name }}</option>
                        {% elseif queryGroup is null and app.user.isFavoriteGroup(group)%}
                            <option value="{{ group.id }}" selected="selected">{{ group.name }}</option>
                        {% else %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="col-md-1">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
        </div>
    </form>
</div>
