<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>
            {% block title %}
                Collection Manager
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}

        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script async defer src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script async defer src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top hidden-print">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        CollectionManager
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        {% if app.user and app.user.isInGroup() %}
                            <li><a href="{{ path('strain_index') }}">Strains</a></li>
                            <li><a href="{{ path('plasmid_index') }}">Plasmids</a></li>
                            <li><a href="{{ path('primer_index') }}">Primers</a></li>
                            <li><a href="{{ path('product_index') }}">Products</a></li>
                            <li><a href="{{ path('equipment_index') }}">Equipments</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('advanced-search') }}">Advanced search</a></li>
                            <li><a href="{{ path('faq') }}">FAQ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <div class="dropdown-header">
                                        Signed in as <strong>{{ app.user.username }}</strong>
                                    </div>
                                    <li role="separator" class="divider"></li>
                                    {% if is_granted('ROLE_SUPER_ADMIN')  %}
                                        <li><a href="{{ path('user_index') }}">Users list</a></li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ path('group_index') }}">Groups list</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('user_profile') }}">My profile</a></li>
                                    <li><a href="{{ logout_url('main') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <a type="button" class="btn btn-default navbar-btn" href="{{ path('login') }}">Log in</a>
                            <a type="button" class="btn btn-success navbar-btn sign-up-button" href="{{ path('user_registration') }}">Register</a>
                        {% endif %}

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li><a href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
                        {% endif %}
                    </ul>
                    {% if app.user %}
                        <form class="navbar-form navbar-right hidden-sm hidden-md" role="search" action="{{ path('quick-search') }}" method="GET">
                            <div class="form-group has-feedback">
                                <input type="search" class="form-control" name="q" aria-label="Search" placeholder="Search..." >
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar hidden-print">
                    <ul class="nav nav-sidebar">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                    </ul>

                    {% block nav %}
                    {% endblock %}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                     On affiche tous les messages flash dont le nom est « success »
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert" data-toggle="auto-dismiss">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                     On affiche tous les messages flash dont le nom est « warning »
                    {% for flash_message in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning alert-dismissible" role="alert" data-toggle="auto-dismiss">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            <li><a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                        {% endblock %}
                    </ol>

                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyDLgVZEm3cdipu1fZ9wuSH2N0JAP7fXDzg"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/js/vendor.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
