<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>
            {% block title %}
                Collection Manager
            {% endblock %}
        </title>

        {% block stylesheets %}
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

            <!-- Bootstrap -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            {% stylesheets
              'css/ie10-viewport-bug-workaround.css'
              'css/bootstrap-modifications.css'
            filter='?uglifycss' filter='cssrewrite' output='css/compiled/app.css'
             %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script async defer src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script async defer src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#<img alt="Brand" src="{{ asset('icon.png') }}">#}
                    <a class="navbar-brand" href="{{ path('homepage') }}">Collection Manager</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('advanced-search') }}">Advanced search</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                    <form id="quick-search-form" class="navbar-form navbar-right">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search for..." />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="{{ path('genus_index') }}">Genus</a></li>
                        <li><a href="{{ path('species_index') }}">Species</a></li>
                        <li><a href="{{ path('type_index') }}">Types</a></li>
                        <li><a href="{{ path('category_index') }}">Categories</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="{{ path('project_index') }}">Projects</a></li>
                        <li><a href="{{ path('box_index') }}">Boxes</a></li>
                        <li><a href="{{ path('strain_index') }}">Strains</a></li>
                        <li><a href="{{ path('plasmid_index') }}">Plasmids</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {# On affiche tous les messages flash dont le nom est « success » #}
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert" data-toggle="auto-dismiss">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {# On affiche tous les messages flash dont le nom est « warning » #}
                    {% for flash_message in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning alert-dismissible" role="alert" data-toggle="auto-dismiss">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            {% javascripts
                'js/*'
                filter='?uglifyjs2' output='js/compiled/app.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>
</html>
