{% extends "location/base.html.twig" %}

{% block title %}Edit the location: {{ location.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('location_index') }}">Locations list</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block location_body %}
    <h2 class="sub-header">Edit a location</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save changes"/>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
