{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not null %}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">My teams</div>
                    {% if teams is empty %}
                        <div class="panel-body">
                            You have not team. <a href="{{ path('team_index') }}">Join a team</a>.
                        </div>
                    {% else %}
                        <ul  class="list-group">
                            {% for team in teams %}
                                <li  class="list-group-item">
                                    <a href="{{ path('team_view', { 'slug': team.slug }) }}">{{ team.name }}</a>
                                    {{ team.administrators.contains(app.user) ? '(admin)' }}
                                    {% if app.user.isFavoriteTeam(team) %}
                                        <span class="favorite-team glyphicon glyphicon-star pull-right"></span>
                                    {% else %}
                                        <a href="{{ path('team_favorite', { 'slug': team.slug }) }}">
                                            <span class="glyphicon glyphicon-star-empty pull-right"></span>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="list-group-item">
                                <a href="{{ path('team_index') }}">Join an other team</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        My projects
                            <a class="pull-right" href="{{ path('project_add') }}">{{ app.user.isTeamAdministrator() ? 'Create a new project' : 'Suggest a new project' }}</a>
                    </div>
                    {% if projects is empty %}
                        <div class="panel-body">
                            You have no project. Ask to a project admin.
                        </div>
                    {% else %}
                        <ul class="list-group">
                            {% for project in projects %}
                                <li class="list-group-item {{ (not project.isValid) ? 'list-group-item-warning' }}">
                                    <a href="{{ path('project_view', { 'slug': project.slug }) }}">{{ project.name }}</a>
                                    {{ project.administrators.contains(app.user) ? '(admin)' }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
