{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">Teams</div>
            <div class="panel-body">
                {% if app.user.isInTeam == false %}
                    You have not team. <a href="{{ path('team_index') }}">Join a team</a>.
                {% else %}
                    <ul>
                        {% for team in teams %}
                            <li>
                                {{ team.name }}
                                {% if team.administrators.contains(app.user) %}
                                    (You're an admin of this team)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('team_index') }}">Join an other team</a>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                {% if app.user.isInTeam == false %}
                    You have not team, you need to <a href="{{ path('team_index') }}">join a team</a> to have projects.
                {% elseif projects is empty %}
                    You have no project. Ask to your team admin or to the project admin to add you on a project.
                {% else %}
                    <ul>
                        {% for project in projects %}
                            <li>
                                {{ project.name }}
                                {% if app.user.isProjectAdministratorOf(project) %}
                                    (You're a project admin)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
