{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not null %}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">My teams</div>
                    {% if teams is empty %}
                        <div class="panel-body">
                            You have not team. <a href="{{ path('team_index') }}">Join a team</a>.
                        </div>
                    {% else %}
                        <ul  class="list-group">
                            {% for team in teams %}
                                <li  class="list-group-item">
                                    {% if team.administrators.contains(app.user) %}
                                        <a href="{{ path('team_edit', { 'id': team.id }) }}">{{ team.name }}</a> (admin)
                                    {% else %}
                                        {{ team.name }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="list-group-item">
                                <a href="{{ path('team_index') }}">Join an other team</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        My projects
                        {% if app.user.isTeamAdministrator() %}
                            <a class="pull-right" href="{{ path('project_add') }}">Create a new project</a>
                        {% else %}
                            <a class="pull-right" href="{{ path('project_add') }}">Suggest a new project</a>
                        {% endif %}
                    </div>
                    {% if projects is empty %}
                        <div class="panel-body">
                            You have no project. Ask to a project admin.
                        </div>
                    {% else %}
                        <ul class="list-group">
                            {% for project in projects %}
                                <li class="list-group-item {{ (not project.isValid) ? 'list-group-item-warning' }}">
                                    <a href="{{ path('project_view', { 'id': project.id }) }}">{{ project.name }}</a>
                                    {{ project.administrators.contains(app.user) ? '(admin)' }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
