{% extends "type/base.html.twig" %}

{% block title %}Add a type{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('type_index') }}">Types list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block type_body %}
    <h2 class="sub-header">Add a type</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
