{% extends "type/base.html.twig" %}

{% block title %}Edit the type: {{ type.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('type_index') }}">Types list</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block type_body %}
    <h2 class="sub-header">Edit a type</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-default pull-right" value="Edit"/>
    {{ form_end(form) }}
{% endblock %}
