{% extends "type/base.html.twig" %}

{% block title %}Types list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Types list</li>
{% endblock %}

{% block type_body %}
    {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('type_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a type
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Types list</h2>

    <div class="row">
        <form id="type-search-form" method="get">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="type-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
                    <span class="input-group-btn">
                            <button id="type-search-button" class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                </div>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            var processing = false;
            $('#type-search-field').keyup(function() {
                var field = $('#type-search-field');

                history.replaceState('', '', Routing.generate('type_index', { q: field.val(), p: 1 }));

                delay(function(){
                    $.ajax({
                        type: 'GET',
                        url: Routing.generate('type_index_ajax', { q: field.val(), p: 1 }),
                        dataType: 'html',
                        delay: 400,
                        beforeSend: function() {
                            if (processing) {
                                return false;
                            } else {
                                processing = true;
                            }
                        },
                        success: function (html) {
                            $('#type-list').replaceWith(html);
                            processing = false;
                        }
                    });
                }, 400 );
            });
        });
    </script>
{% endblock %}
