{% extends "type/base.html.twig" %}

{% block title %}Types list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Types list</li>
{% endblock %}

{% block type_body %}
    {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('type_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a type
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Types list</h2>

    <div class="row">
        <form id="type-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="type-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-2">
                <select id ="type-team-field" name="team" class="form-control col-md-3">
                    {% for team in app.user.teams %}
                        <option value="{{ team.id }}"{{ app.user.isFavoriteTeam(team) ? 'selected="selected"' }}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button id="type-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            var processing = false;
            var search = $('#type-search-field');
            var team = $('#type-team-field');

            search.keyup(function() {
                history.replaceState('', '', Routing.generate('type_index', { q: search.val(), team: team.val(), p: 1 }));

                delay(function(){
                    $.ajax({
                        type: 'GET',
                        url: Routing.generate('type_index_ajax', { q: search.val(), team: team.val(), p: 1 }),
                        dataType: 'html',
                        delay: 400,
                        beforeSend: function() {
                            if (processing) {
                                return false;
                            } else {
                                processing = true;
                            }
                        },
                        success: function (html) {
                            $('#type-list').replaceWith(html);
                            processing = false;
                        }
                    });
                }, 400 );
            });

            team.change(function() {
                history.replaceState('', '', Routing.generate('type_index', { q: search.val(), team: team.val(), p: 1 }));
                $.ajax({
                    type: 'GET',
                    url: Routing.generate('type_index_ajax', { q: search.val(), team: team.val(), p: 1 }),
                    dataType: 'html',
                    delay: 400,
                    beforeSend: function() {
                        if (processing) {
                            return false;
                        } else {
                            processing = true;
                        }
                    },
                    success: function (html) {
                        $('#type-list').replaceWith(html);
                        processing = false;
                    }
                });
            });
        });
    </script>
{% endblock %}
