{% extends "type/base.html.twig" %}

{% block title %}Types list{% endblock %}

{% block type_body %}
    {% if app.user.isInTeam() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('type_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a type
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Types list</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-4">Type</th>
                        <th class="col-md-1">Letter</th>
                        <th cclass="col-md-4">Team</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                {% else %}
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-6">Type</th>
                    <th class="col-md-5">Letter</th>
                    <th cclass="col-md-4">Team</th>
                </tr>
                {% endif %}
            </thead>
                {% if typesList is not empty %}
                    {% for type in typesList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ type.name }}</td>
                            <td>{{ type.letter }}</td>
                            <td>{{ type.team.name }}</td>
                            {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        {% if is_granted('TYPE_EDIT', type) %}
                                            <a class="btn btn-warning" href="{{ path('type_edit', { 'id': type.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                        {% endif %}

                                        {% if is_granted('TYPE_DELETE', type) %}
                                            <a class="btn btn-danger" href="{{ path('type_delete', { 'id': type.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <td class="text-center" colspan="5">There is no types.</td>
                {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
