{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Reset password</li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        {{ form_rest(form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">
                    Create a new password
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
