<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>File</th>
                <th>Auto name</th>
            </tr>
            </thead>
            {% if results.results is not empty %}
                {% for plasmid in results.results %}
                    <tr>
                        <td>{{ loop.index }}</td>

                        <td><a href="{{ path('plasmid_view', { 'id': plasmid.id, 'slug': plasmid.slug }) }}">{{ plasmid.name }}</a></td>
                        <td>
                            {% if plasmid.genBankName is not null %}
                                <a href="{{ path('plasmid_download', { 'id': plasmid.id, 'slug': plasmid.slug }) }}">
                                    <span class=" fas fa-download"></span> GenBank file
                                </a>
                            {% else %}
                                No GenBank file
                            {% endif %}
                        </td>
                        <td>{{ plasmid.autoName }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5"  style="text-align:center;">There is no plasmids.</td>
                </tr>
            {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>

    {% include '_list_pagination.html.twig' with { 'url': path('plasmid_index', {'q': '__query__', 'group': '__group__', 'p': '__page__' }) } %}
</div>
