<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">Unique code</th>
                <th class="col-md-9">Name</th>
                <th class="col-md-1">GMO/Wild</th>
                <th class="col-md-1">Auto name</th>
            </tr>
            <tbody>
            {% if results.results is not empty %}
                {% for strain in results.results %}
                    <tr>
                        <td>{{ strain.uniqueCode }}</td>
                        <td>{{ strain.name }}</td>
                        <td>
                            {{ 'gmo' == strain.discriminator ? 'GMO' : 'Wild'  }}
                        </td>
                        <td><a href="{{ path('strain_view', { 'id': strain.id, 'slug': strain.slug }) }}">{{ strain.autoName }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="5">There are no strains.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    {% include '_list_pagination.html.twig' with { 'url': path('strain_index', {'q': '__query__', 'group': '__group__', 'p': '__page__' }) } %}
</div>
