{% extends "base.html.twig" %}

{% block title %}Edit a strain - {{ parent() }}{% endblock %}

{% block nav %}
    {% include "nav/strain.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('strain_index') }}">Strains</a></li>
    <li class="breadcrumb-item"><a href="{{ path('strain_view', { 'id': strain.id, 'slug': strain.slug }) }}">{{ strain.autoName }} - {{ strain.name }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Edit a strain: {{ strain.fullName }}</h1>

    {% include 'strain/_form.html.twig' %}
{% endblock %}
