{{ form_start(form) }}
    <fieldset>
        <legend>General</legend>
        {{ form_row(form.group) }}
        {{ form_row(form.name) }}
        {{ form_row(form.location) }}
    </fieldset>

    <fieldset>
        <legend>References</legend>
        {{ form_row(form.seller) }}
        {{ form_row(form.sellerReference) }}
        {{ form_row(form.brand) }}
        {{ form_row(form.brandReference) }}
    </fieldset>

    <fieldset>
        <legend>Prices</legend>
        {{ form_row(form.catalogPrice) }}
        {{ form_row(form.negotiatedPrice) }}
    </fieldset>

    <fieldset>
        <legend>Files</legend>
        {{ form_row(form.addQuoteFile) }}
        <div id="quote-file-field" class="col-sm-10 col-md-offset-2">
            <div>
                {% if app.request.requesturi != path('product_add') and product.quoteFile.path is defined and product.quoteFile.path is not null %}
                    Actual file: <a href="{{ asset(product.quoteFile.webPath) }}">{{ product.name }}.pdf</a>
                {% endif %}
            </div>
        </div>
        {{ form_row(form.quoteFile.fileSystemPath) }}

        {{ form_row(form.addManualFile) }}
        <div id="manual-file-field" class="col-sm-10 col-md-offset-2">
            <div>
                {% if app.request.requesturi != path('product_add') and product.manualFile.path is defined and product.manualFile.path is not null %}
                    Actual file: <a href="{{ asset(product.manualFile.webPath) }}">{{ product.name }}.pdf</a>
                {% endif %}
            </div>

        </div>
        {{ form_row(form.manualFile.fileSystemPath) }}
    </fieldset>

    <fieldset>
        <legend>Packaging</legend>
        {{ form_row(form.packedBy) }}
        {{ form_row(form.packagingUnit) }}
    </fieldset>

    <fieldset>
        <legend>Stock management</legend>
        {{ form_row(form.storageUnit) }}
        {{ form_row(form.stockWarningAlert) }}
        {{ form_row(form.stockDangerAlert) }}
    </fieldset>

    {% block button %}
    {% endblock %}

    {{ form_rest(form) }}
{{ form_end(form) }}
