<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md">Name</th>
                    <th class="col-md">Brand</th>
                    <th class="col-md">Stock</th>
                    <th class="col-md">Seller ref</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            </thead>
            {% if results.results is not empty %}
                {% for product in results.results %}
                    {% if product.stock <= product.stockDangerAlert %}
                        <tr class="danger">
                    {% elseif product.stock <= product.stockWarningAlert %}
                        <tr class="warning">
                    {% else %}
                        <tr>
                    {% endif %}

                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ path('product_view', { 'id': product.id }) }}">{{ product.name }}</a>
                        </td>
                        <td>{{ product.brand.name }}</td>
                        <td>{{ product.stock }} {{ product.storageUnit }}</td>
                        <td>{{ product.sellerReference }}</td>
                        <td>
                            {% embed "product/_delete_form.html.twig" with { product: product } only %}
                                {% block btn %}
                                    <a class="btn btn-warning" href="{{ path('product_edit', { 'id': product.id}) }}">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                    </a>
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="5">There is no products.</td>
            {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>

    {% include '_list_pagination.html.twig' with { 'url': path('product_index', {'q': '__query__', 'p': '__page__' }) } %}
</div>
