{% extends "base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('product_index') }}">Products list</a></li>
    <li class="active">{{ product.name }}</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">{{ product.name }}</h1>
        </div>

        <div class="col-md-2">
            {% embed "product/_delete_form.html.twig" with { product: product } only %}
                {% block btn %}
                    <a href="{{ path("product_edit", { 'id': product.id }) }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Product informations</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <u>Location:</u>
                        {% for location in locationPath %}
                            {% if not loop.first and not loop.last %}
                                {{ location.name }} /
                            {% elseif loop.last %}
                                {{ location.name }}
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li class="list-group-item"><u>Brand:</u> {{ product.brand.name }}</li>
                    <li class="list-group-item"><u>Brand reference:</u> {{ product.brandReference }}</li>
                    <li class="list-group-item"><u>Seller reference:</u> {{ product.sellerReference }}</li>
                    <li class="list-group-item"><u>Packaging:</u> {{ product.packedBy }} {{ product.packagingUnit }}</li>
                    <li class="list-group-item"><u>Catalog price:</u> {{ product.catalogPrice }} €</li>
                    <li class="list-group-item"><u>Negotiated price:</u> {{ product.negotiatedPrice }} €</li>
                    <li class="list-group-item">
                        {% if product.quoteName is not null %}
                            <a type="button" class="btn btn-primary btn-xs" href="{{ path('product_download_quote', { 'id': product.id }) }}">
                                <span class="glyphicon glyphicon-download"></span> Download quote
                            </a>
                        {% else %}
                            <button class="btn btn-primary btn-xs disabled" disabled>
                                <span class="glyphicon glyphicon-download"></span> Download quote
                            </button>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        {% if product.manualName is not null %}
                            <a type="button" class="btn btn-primary btn-xs" href="{{ path('product_download_manual', { 'id': product.id }) }}">
                                <span class="glyphicon glyphicon-download"></span> Download manual
                            </a>
                        {% else %}
                            <button class="btn btn-primary btn-xs disabled" disabled>
                                <span class="glyphicon glyphicon-download"></span> Download manual
                            </button>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Paramètres de stock</h4></div>

                <ul class="list-group">
                    {% if product.stock <= product.stockDangerAlert %}
                        <li class="list-group-item list-group-item-danger"><u>Disponible:</u> {{ product.stock }} {{ product.storageUnit }}</li>
                    {% elseif (product.stock > product.stockDangerAlert) and (product.stock <= product.stockWarningAlert) %}
                        <li class="list-group-item list-group-item-warning"><u>Disponible:</u> {{ product.stock }} {{ product.storageUnit }}</li>
                    {% else %}
                        <li class="list-group-item list-group-item-success"><u>Disponible:</u> {{ product.stock }} {{ product.storageUnit }}</li>
                    {% endif %}

                    <li class="list-group-item"><u>Limite alerte:</u> {{ product.stockWarningAlert }} {{ product.storageUnit }}</li>
                    <li class="list-group-item"><u>Limite danger:</u> {{ product.stockDangerAlert }} {{ product.storageUnit }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Stock</span>
                    <a href="{{ path("product_movement_add", {'product_id': product.id }) }}" class="btn btn-xs btn-primary pull-right">
                        <i class="glyphicon glyphicon-plus"></i>
                        Ajouter
                    </a>
                </div>
                <table class="table">
                    <tr>
                        <th>Added by</th>
                        <th>Added</th>
                        <th>Comment</th>
                        <th>Movement</th>
                        <th>Actions</th>
                    </tr>

                    {% if product.movements is not empty %}
                        {% for movement in product.movements %}
                            <tr>
                                <td>{{ movement.createdBy.fullName|capitalize }}</td>
                                <td>{{ movement.created|date('d/m/Y') }}</td>
                                <td>{{ movement.comment }}</td>
                                {% if movement.movement >= 0 %}
                                    <td style="color: green;">{{ movement.movement }}</td>
                                {% else %}
                                    <td style="color: red;">{{ movement.movement }}</td>
                                {% endif %}

                                <td>
                                    {% embed "product_movement/_delete_form.html.twig" with { productMovement: movement } only %}
                                        {% block btn %}
                                            <a href="{{ path("product_movement_edit", {'id': productMovement.id}) }}" class="btn btn-default">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                Edit
                                            </a>
                                        {% endblock %}
                                    {% endembed %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan='5' class='text-center'>There is no movements.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
