{% extends "base.html.twig" %}

{% block title %}Locations list{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Locations list</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Locations list</h1>

    {% if app.user.isInGroup() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-secondary" href="{{ path('location_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a Location
            </a>
        </div><br>
    {% endif %}

    {% macro locationTree(locations) %}
        {% import _self as tree %}

        <ul>
            {% for location in locations %}
                <li>
                    {{ location.name }}
                    {# Add links #}
                    {% if app.user.isInGroup() or is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-secondary btn-sm" href="{{ path('location_move_up', { 'id': location.id }) }}">
                            <span class="fa fa-arrow-up"></span>
                        </a>
                        <a class="btn btn-secondary btn-sm" href="{{ path('location_move_down', { 'id': location.id }) }}">
                            <span class="fa fa-arrow-down"></span>
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-warning btn-sm" href="{{ path('location_edit', { 'id': location.id }) }}">
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="{{ path('location_delete', { 'id': location.id, 'token': csrf_token('location_delete') }) }}" data-confirmation="1">
                            Delete
                        </a>
                    {% endif %}

                    {% if location.__children %}
                        {{ tree.locationTree(location.__children) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}

    {% import _self as tree %}
    {{ tree.locationTree(locations) }}

    {% include '_delete_confirmation.html.twig' %}
{% endblock %}
