{% extends "group/base.html.twig" %}

{% block title %}Add a group{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('group_index') }}">Groups</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block group_body %}
    <h2>Add a group</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
