{% extends "base.html.twig" %}

{% block title %}AppBundle:Group:index{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Groups</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Groups list</h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div>
            <a type="button" class="btn btn-default" href="{{ path('group_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a group
            </a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-8">Administrators</th>
                </tr>
            </thead>

            <tbody>
            {% if groups is not empty %}
                {% for group in groups %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('group_view', { 'slug': group.slug }) }}">{{ group.name }}</a></td>
                        <td>
                            {% for admin in group.administrators %}
                                {{ admin.fullName }}{{ not loop.last ? ',' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">There is no groups.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
