{{ form_start(form, { 'attr': { 'data-strain-discriminator': strain.discriminator } }) }}
    {% if form.team is defined %}
        {{ form_row(form.team) }}
    {% endif %}

    <fieldset>
        <legend>General information</legend>
        {{ form_row(form.species) }}
        {{ form_row(form.name) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.sequenced) }}
    </fieldset>

    <fieldset>
        <legend>Tubes</legend>
        {{ form_row(form.tubes) }}
    </fieldset>

    {# Special fields #}
    {% if 'gmo' == strain.discriminator %}
        <fieldset>
            <legend>Biological information</legend>
            {{ form_row(form.description) }}
            {{ form_row(form.genotype) }}
        </fieldset>

        <fieldset>
            <legend>Transforming ADN</legend>
            {{ form_row(form.strainPlasmids) }}
        </fieldset>

        <fieldset>
            <legend>Parents</legend>
            {{ form_row(form.parents) }}
        </fieldset>
    {% endif %}

    {# Special fields #}
    {% if 'wild' == strain.discriminator %}
        <fieldset>
            <legend>Biological origin</legend>
            {{ form_row(form.biologicalOrigin) }}
            {{ form_row(form.source) }}
        </fieldset>

        <fieldset>
            <legend>Geographic origin</legend>
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            <input type="button" id="reverseGeocode" class="btn btn-default" value="Reverse Geocode">
            <hr>
            {{ form_row(form.address) }}
            {{ form_row(form.country) }}
            <input type="button" id="geocodeAddress" class="btn btn-default" value="Geocode">
            <hr>
        </fieldset>
    {% endif %}

    {{ form_widget(form) }}
{{ form_end(form) }}

{# Map #}
{% if 'wild' == strain.discriminator %}
    <div class="row">
        <hr>
        <div id="map" style="height:400px;"></div>
    </div>
{% endif %}
