{% extends "strain/base.html.twig" %}

{% block title %}{{ parent() }}:add{% endblock %}

{% block strain_body %}
    <div>
        <a class="btn btn-default" href="{{ path('strain_index') }}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Strains list
        </a>
    </div>

    <h2 class="sub-header">Add a strain</h2>

    {{ form_start(form) }}
        {{ form_row(form.genus) }}
        {{ form_row(form.species) }}

        {{ form_widget(form) }}


        <input type="submit" class="btn btn-default pull-right" value="Add">
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tubes-collection.js') }}"></script>


    <script>
        $(function() {
            var $genus = $('[name$="[genus]"]');
            // When genus gets selected ...
            $genus.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected genus value.
                var data = {};
                data[$genus.attr('name')] = $genus.val();
                // Submit data via AJAX to the form's action path.
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        // Replace current position field ...
                        $('[name$="[species]"]').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('[name$="[species]"]')
                        );
                        // Position field now displays the appropriate positions.
                    }
                });
            });
        });
    </script>
{% endblock %}
