{% extends "strain/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}{{ parent() }}:add{% endblock %}

{% block strain_body %}
    <div>
        <a class="btn btn-default" href="{{ path('strain_index') }}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Strains list
        </a>
    </div>

    <h2 class="sub-header">Add a strain</h2>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.genus) }}
            {{ form_row(form.species) }}
            {{ form_widget(form) }}
            <div class="btn-group pull-right" role="group" aria-label="...">
                <input type="button" id="reverseGeocode" class="btn btn-default" value="Reverse Geocode">
                <input type="submit" class="btn btn-default" value="Add">
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div id="map" style="height:400px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="{{ asset('js/tubes-collection.js') }}"></script>
    <script async defer src="{{ asset('js/species-dynamic.js') }}"></script>

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgVZEm3cdipu1fZ9wuSH2N0JAP7fXDzg&signed_in=true&callback=initMap"></script>

    <script>
        $( function() {
            var availableTags = [
                {% for usualName in strainUsualNames %}
                    "{{ usualName.usualName }}",
                {% endfor %}
            ];
            $( '[name$="[usualName]"]' ).autocomplete({
                source: availableTags
            });
        } );
    </script>

    <script>
        $( function() {
            $('#map').hide();
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 0,
                center: {lat: 0, lng: 0}
            });
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;

            $('#reverseGeocode').click(function() {
                geocodeLatLng(geocoder, map, infowindow);
                $('#map').show();
                google.maps.event.trigger(map, "resize");
            });
        }

        function geocodeLatLng(geocoder, map, infowindow) {
            var lat = parseFloat($('[name$="[latitude]"]').val());
            var lng = parseFloat($('[name$="[longitude]"]').val());
            var latlng = {lat: lat, lng: lng};

            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        map.setZoom(11);
                        map.setCenter(latlng);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
    </script>
{% endblock %}
