{% extends 'strain/base.html.twig' %}

{% block title %}
    Edit a strain - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('strain_index') }}">Strains</a></li>
    <li><a href="{{ path('strain_view', { 'id': strain.id, 'slug': strain.slug }) }}">{{ strain.autoName }} - {{ strain.name }}</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block strain_body %}
    <h2>Edit a strain: {{ strain.fullName }}</h2>

    {{ include('strain/_form.html.twig') }}
{% endblock %}
