{% extends "strain/base.html.twig" %}

{% block title %}Strains list{% endblock %}

{% block strain_body %}
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a strain
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('strain_gmo_add') }}">GMO</a></li>
            <li><a href="{{ path('strain_wild_add') }}">Wild</a></li>
        </ul>
    </div>

    <h2 class="sub-header">Strains list</h2>

    <h3 class="sub-header">GMO strains</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">Auto name</th>
                <th class="col-md-6">Name</th>
                <th class="col-md-2">Actions</th>
            </tr>
            <tbody>
            {% if gmoStrains is not empty %}
                {% for strain in gmoStrains %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('strain_gmo_view', { 'id': strain.id }) }}">{{ strain.systematicName }}</a></td>
                        <td>{{ strain.usualName }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-warning" href="{{ path('strain_gmo_edit', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                {% if strain.deleted %}
                                    <a class="btn btn-danger" href="#" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                {% else %}
                                    <a class="btn btn-danger" href="{{ path('strain_gmo_delete', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="5">There are no strains.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <h3 class="sub-header">Wild strains</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">Auto name</th>
                <th class="col-md-6">Name</th>
                <th class="col-md-2">Actions</th>
            </tr>
            <tbody>
            {% if wildStrains is not empty %}
                {% for strain in wildStrains %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('strain_wild_view', { 'id': strain.id }) }}">{{ strain.systematicName }}</a></td>
                        <td>{{ strain.usualName }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-warning" href="{{ path('strain_wild_edit', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                {% if strain.deleted %}
                                    <a class="btn btn-danger" href="#" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                {% else %}
                                    <a class="btn btn-danger" href="{{ path('strain_wild_delete', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="5">There are no strains.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
