{% extends "strain/base.html.twig" %}

{% block title %}Strains list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Strains</li>
{% endblock %}

{% block strain_body %}
    {% if app.user.isInTeam and app.user.isProjectMember %}
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a strain
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('strain_add_gmo') }}">GMO</a></li>
            <li><a href="{{ path('strain_add_wild') }}">Wild</a></li>
        </ul>
    </div>
    {% endif %}

    <h2 class="sub-header">Strains list</h2>

    <div class="row">
        <form id="strain-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="strain-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-2">
                <select id ="strain-project-field" name="team" class="form-control col-md-3">
                    <option value="">All projects</option>
                    {% for project in app.user.projects %}
                        <option value="{{ project.id }}" {{ projectRequest == project.id ? 'selected' }}>{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button id="strain-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}
