{% extends "strain/base.html.twig" %}

{% block title %}{{ parent() }}:index{% endblock %}

{% block strain_body %}
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a strain
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('strain_gmo_add') }}">OGM</a></li>
            <li><a href="{{ path('strain_wild_add') }}">Sauvage</a></li>
        </ul>
    </div>

    <h2 class="sub-header">Strains list</h2>

    <h3 class="sub-header">OGM strains</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Auto name</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tbody>
            {% if gmoStrains is not empty %}
                {% for strain in gmoStrains %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ strain.systematicName }}</td>
                        <td>{{ strain.usualName }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-warning" href="{{ path('strain_gmo_edit', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                <a class="btn btn-danger" href="{{ path('strain_delete', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="5">There are no strains.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <h3 class="sub-header">Wild strains</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Auto name</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tbody>
            {% if wildStrains is not empty %}
                {% for strain in wildStrains %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ strain.systematicName }}</td>
                        <td>{{ strain.usualName }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-warning" href="{{ path('strain_wild_edit', { 'id': 1 }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                <a class="btn btn-danger" href="{{ path('strain_delete', { 'id': 1 }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="5">There are no strains.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
