{% extends "strain/base.html.twig" %}

{% block title %}Strain {{ strain.autoName }} - {{ strain.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('strain_index') }}">Strains</a></li>
    <li class="active">{{ strain.autoName }} - {{ strain.name }}</li>
{% endblock %}

{% block strain_body %}

    <div class="row">
        <div class="col-md-8">
            <h2 class="sub-header">{{ strain.fullName }}</h2>
        </div>

        <div class="col-md-2">
            <a class="btn btn-xs btn-success" href="{{ path('strain_add_from_model', { 'id': strain.id, 'slug': strain.slug }) }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Copy this strain
            </a>
        </div>

        <div class="col-md-2">
            {% if strain.isAuthor(app.user) or strain.getGroup().isAdministrator(app.user) %}
                <div class="text-right">
                    {% embed "strain/_delete_form.html.twig" with { strain: strain } only %}
                        {% block btn %}
                            <a class="btn btn-warning" href="{{ path('strain_edit', { 'id': strain.id, 'slug': strain.slug }) }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endif %}

        <p class="text-right">
            Created the {{ strain.created|date("m/d/Y") }} by {{ strain.createdBy.fullName }}<br>
            Edited the {{ strain.updated|date("m/d/Y") }} by {{ strain.updatedBy.fullName }}
        </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Registration informations</div>
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ strain.name }}</li>
                    <li class="list-group-item">Auto name: {{ strain.autoName }}</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Tubes</div>
                <table class="table table-striped">
                    <tr>
                        <th>Box</th>
                        <th>Cell</th>
                    </tr>
                    {% for tube in strain.tubes %}
                        <tr>
                            <td>
                                <a href="{{ path('box_view', { 'id': tube.box.id, 'slug': tube.box.slug }) }}">
                                    {{ tube.box.name }}
                                </a>
                            </td>
                            <td>{{ tube.cellName }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Biological informations</div>
                <ul class="list-group">
                    <li class="list-group-item">Species: {{ strain.species.genus.name }} {{ strain.species.name }}</li>
                    <li class="list-group-item">Sequenced: {{ strain.sequenced ? 'yes' : 'no' }}</li>

                    {% if 'wild' == strain.discriminator %}
                        <li class="list-group-item">Biological origin: {{ strain.biologicalOrigin }}</li>
                        <li class="list-group-item">Source: {{ strain.source }}</li>
                    {% endif %}
                </ul>

                <div class="panel-body">
                    <p><u>Genotype:</u></p>
                    <p>{{ strain.genotype }}</p>
                </div>

                <div class="panel-body">
                    <p><u>Description:</u></p>
                    <p>{{ strain.description }}</p>
                </div>

                <div class="panel-body">
                    <p><u>Comment:</u></p>
                    <p>{{ strain.comment }}</p>
                </div>
            </div>
        </div>

        {% if 'gmo' == strain.discriminator %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Used plasmids</div>
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Name</th>
                            <th>State</th>
                        </tr>
                        {% if strain.strainPlasmids is not empty%}
                            {% for strainPlasmid in strain.strainPlasmids %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><a href="{{ path('plasmid_view', {'id': strainPlasmid.plasmid.id, 'slug': strainPlasmid.plasmid.slug }) }}">{{ strainPlasmid.plasmid.autoName }}</a></td>
                                    <td>{{ strainPlasmid.plasmid.name }}</td>
                                    <td>{{ strainPlasmid.state }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" style="text-align:center;">There is no plasmids.</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if
            'wild' == strain.discriminator
            and (strain.address or strain.country or (strain.latitude and strain.longitude))
        %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Map</div>
                    {% if strain.address or strain.country %}
                        <div class="panel-body">
                            Address: {{ strain.address }}<br>
                            Country: {{ strain.country|country(app.request.locale) }}<br>
                        </div>
                    {% endif %}

                    {% if strain.latitude and strain.longitude %}
                        <div id ="map" class="panel-body" style="height:400px;">
                        </div>

                        <div class="panel-footer">
                            Latitude: {{ strain.latitude }}  -  Longitude: {{ strain.longitude }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Parents</div>
                <ul class="list-group">
                    {% for parent in strain.parents %}
                        <li class="list-group-item"><a href="{{ path('strain_view', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.fullName }}</a></li>
                    {% else %}
                        <li class="list-group-item">There are no parents.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Children</div>
                <ul class="list-group">
                    {% for child in strain.children %}
                        <li class="list-group-item"><a href="{{ path('strain_view', { 'id': child.id, 'slug': child.slug }) }}">{{ child.fullName }}</a></li>
                    {% else %}
                        <li class="list-group-item">There are no children.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if 'wild' == strain.discriminator and strain.latitude is defined and strain.longitude is defined %}
        <script type="text/javascript">
            var map;
            function initMap() {
                var myLatLng = {lat: {{ strain.latitude }}, lng: {{ strain.longitude}}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 5
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: '{{ strain.autoName }}'
                });
            }
            initMap();
        </script>
    {% endif %}
{% endblock %}
