{% extends "strain/base.html.twig" %}

{% block title %}Strain {{ strain.systematicName }} - {{ strain.usualName }}{% endblock %}

{% block strain_body %}
    <div>
        <a class="btn btn-default" href="{{ path('strain_index') }}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Strains list
        </a>
    </div>

    <h2 class="sub-header">{{ strain.systematicName }} - {{ strain.usualName }}
        {% if strain.latitude is not defined%}
            <a type="button" class="btn btn-default btn-warning btn-xs pull-right" value="Edit" href="{{ url("strain_gmo_edit", {'id': strain.id }) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        {% else %}
            <a type="button" class="btn btn-default btn-warning btn-xs pull-right" value="Edit" href="{{ url("strain_wild_edit", {'id': strain.id }) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        {% endif %}

    </h2>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Registration informations</div>
                <ul class="list-group">
                    <li class="list-group-item">Usual name: {{ strain.usualName }}</li>
                    <li class="list-group-item">Systematic name: {{ strain.systematicName }}</li>
                    <li class="list-group-item">Created on: {{ strain.creationDate|date("Y/m/d") }}</li>
                    <li class="list-group-item">Deleted: {{ strain.deleted ? '<span style="color: red;">Yes</span>' : '<span style="color: green">No</span>' }}</li>
                    <li class="list-group-item">Deleted on: {{ strain.deletionDate ? strain.deletionDate|date("Y/m/d") : "--" }}</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Tubes</div>
                <table class="table table-striped">
                    <tr>
                        <th>Project</th>
                        <th>Box</th>
                        <th>Cell</th>
                        <th>Status</th>
                    </tr>
                    {% for tube in strain.tubes %}
                        <tr>
                            <td>{{ tube.box.project.name }}</td>
                            <td>{{ tube.box.name }}</td>
                            <td>{{ tube.cellName }}</td>
                            <td>
                                {% if tube.deleted %}
                                <span style="color: red;">Deleted</span> on {{ tube.deletionDate|date('Y/m/d') }}
                                {% else %}
                                    <span style="color: green;">Present</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Biological informations</div>
                <ul class="list-group">
                    <li class="list-group-item">Type: {{ strain.type.name }}</li>
                    <li class="list-group-item">Species: {{ strain.species.genus.genus }} {{ strain.species.species }}</li>
                    <li class="list-group-item">Sequenced: {{ strain.sequenced ? 'yes' : 'no' }}</li>
                    {% if 'wild' == typeOfStrain %}
                        <li class="list-group-item">Biological origin: {{ strain.biologicalOrigin }}</li>
                    {% endif %}
                </ul>
                {% if 'gmo' == typeOfStrain %}
                    <div class="panel-body">
                        <p><u>Genotype:</u></p>
                        <p>{{ strain.genotype }}</p>
                    </div>
                {% endif %}

                {% if 'gmo' == typeOfStrain %}
                    <div class="panel-body">
                        <p><u>Description:</u></p>
                        <p>{{ strain.description }}</p>
                    </div>
                {% endif %}
                <div class="panel-body">
                    <p><u>Comment:</u></p>
                    <p>{{ strain.comment }}</p>
                </div>
            </div>
        </div>

        {% if strain.latitude is defined and strain.longitude is defined %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Map</div>
                        <div class="panel-body">
                            Geographic origin: {{ strain.geographicOrigin }}<br>
                            Source: {{ strain.source }}
                        </div>
                        <div id ="map" class="panel-body" style="height:400px;">
                        </div>
                        <div class="panel-footer">
                            Latitude: {{ strain.latitude }}  -  Longitude: {{ strain.longitude }}
                        </div>
                    </div>
                </div>

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if strain.latitude is defined and strain.longitude is defined %}
        <script type="text/javascript">

            var map;
            function initMap() {
                var myLatLng = {lat: {{ strain.latitude }}, lng: {{ strain.longitude}}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 5
                });

                var marker = new google.maps.Marker({
                   position: myLatLng,
                    map: map,
                    title: '{{ strain.systematicName }}'
                });
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgVZEm3cdipu1fZ9wuSH2N0JAP7fXDzg&callback=initMap">
        </script>
    {% endif %}
{% endblock %}
