<div id="category-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-9">Category name</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            {% else %}
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-11">Category name</th>
                </tr>
            {% endif %}
            </thead>
            {% if categoryList is not empty %}
                {% for category in categoryList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ category.name }}</td>
                        {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
                            <td>
                                {{ include('biological_origin_category/_delete_form.html.twig', { category: category }, with_context = false) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="5">There is no categories.</td>
            {% endif %}
        </table>
    </div>

    <ul class="pagination">
        {% if nbPages > 0 %}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('category_index', {'q': query, 'p': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="active">
                <a href="{{ path('category_index', {'q': query, 'p': 1}) }}">1</a>
            </li>
        {% endif %}
    </ul>
</div>
