{% extends "biological_origin_category/base.html.twig" %}

{% block title %}Add a category{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('category_index') }}">Categories list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block type_body %}
    <h2 class="sub-header">Add a category</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
