{% extends "biological_origin_category/base.html.twig" %}

{% block title %}Delete the category: {{ category.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('category_index') }}">Categories list</a></li>
    <li class="active">Delete</li>
{% endblock %}

{% block type_body %}
    <h2 class="sub-header">Delete a category</h2>

    <div class="alert alert-danger" role="alert"><b>CAUTION !</b> You delete a category !</div>

    <p>Do you confirm the deletion of the category: <b>{{ category.name }}</b> ?</p>

    <form action="{{ path('category_delete', { 'id': category.id}) }}" method="POST">
        {{ form_rest(form) }}

        <a class="btn btn-success" href="{{ path('category_index') }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <b>Cancel !</b> Comeback in a safe area :)
        </a>
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </form>

{% endblock %}
