{% extends "biological_origin_category/base.html.twig" %}

{% block title %}Categories list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Categories list</li>
{% endblock %}

{% block type_body %}
    {% if app.user.isInTeam() %}
        <div>
            <a class="btn btn-default" href="{{ path('category_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a category
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Categories list</h2>

    <div class="row">
        <form id="category-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="category-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-2">
                <select id ="category-team-field" name="team" class="form-control col-md-3">
                    {% for team in app.user.teams %}
                        <option value="{{ team.id }}"{{ app.user.isFavoriteTeam(team) ? 'selected="selected"' }}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button id="category-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}
