{% extends "biological_origin_category/base.html.twig" %}

{% block title %}Categories list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Categories list</li>
{% endblock %}

{% block type_body %}
    {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('category_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a category
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Categories list</h2>

    <div class="row">
        <form id="category-search-form" method="get">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="category-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
                    <span class="input-group-btn">
                            <button id="category-search-button" class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                </div>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('input#category-search-field').keyup(function() {
            var field = $(this);
            $.ajax({
                type: 'GET',
                url: Routing.generate('category_index_ajax', { q: field.val(), p: 1 }),
                dataType: 'html',
                success: function (html) {
                    history.replaceState('', '', Routing.generate('category_index', { q: field.val(), p: 1 }));
                    $('#category-list').replaceWith(html);
                }
            });

        });
    </script>
{% endblock %}
