{% embed 'strain/skeleton/strainForm.html.twig' %}
    {% block specialFields %}
        <fieldset>
            <legend>Biological origin</legend>
            {{ form_row(form.biologicalOriginCategory) }}
            {{ form_row(form.biologicalOrigin) }}
            {{ form_row(form.source) }}
        </fieldset>

        <fieldset>
            <legend>Geographic origin</legend>
            {{ form_row(form.address) }}
            {{ form_row(form.country) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
        </fieldset>
    {% endblock %}

    {% block submitButton %}
        <div class="btn-group pull-right" role="group" aria-label="...">
            <input type="button" id="reverseGeocode" class="btn btn-default" value="Reverse Geocode">
            <input type="submit" class="btn btn-default" value="Add">
        </div>
    {% endblock %}

    {% block map %}
        <div class="row">
            <hr>
            <div id="map" style="height:400px;"></div>
        </div>
    {% endblock %}
{% endembed %}
