{% embed 'strain/skeleton/strainForm.html.twig' %}
    {% block specialFields %}
        <fieldset>
            <legend>Biological origin</legend>
            <div class="form-group">
                {{ form_label(form.biologicalOriginCategory) }}
                <div class="col-sm-9">
                    {{ form_widget(form.biologicalOriginCategory) }}
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addBioCategoryModal">
                        Add a category
                    </button>
                </div>
            </div>

            {{ form_row(form.biologicalOrigin) }}
            {{ form_row(form.source) }}
        </fieldset>

        <fieldset>
            <legend>Geographic origin</legend>
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            <input type="button" id="reverseGeocode" class="btn btn-default" value="Reverse Geocode">
            <hr>
            {{ form_row(form.address) }}
            {{ form_row(form.country) }}
            <input type="button" id="geocodeAddress" class="btn btn-default" value="Geocode">
            <hr>
        </fieldset>
    {% endblock %}

    {% block map %}
        <div class="row">
            <hr>
            <div id="map" style="height:400px;"></div>
        </div>
    {% endblock %}
{% endembed %}
