{% extends "strain/base.html.twig" %}

{% block title %}Strain {{ strain.systematicName }} - {{ strain.usualName }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('strain_index') }}">Strains</a></li>
    <li class="active">{{ strain.systematicName }} - {{ strain.usualName }}</li>
{% endblock %}

{% block strain_body %}
    {% embed 'strain/skeleton/view.html.twig' %}
        {% block strainEditButton %}
            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                {% if is_granted('STRAIN_EDIT', strain) %}
                    <a class="btn btn-warning" href="{{ path('strain_wild_edit', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                {% endif %}
                {% if is_granted('STRAIN_DELETE', strain) %}
                    {% if strain.deleted %}
                        <a class="btn btn-danger" href="#" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('strain_wild_delete', { 'id': strain.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}

        {% block biologicalOrigin %}
            <li class="list-group-item">Biological origin: {{ strain.biologicalOrigin }}</li>
            <li class="list-group-item">Source: {{ strain.source }}</li>
        {% endblock %}

        {% block map %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Map</div>
                    <div class="panel-body">
                        Address: {{ strain.address }}<br>
                        Country: {{ strain.country|country(app.request.locale) }}<br>
                    </div>
                    <div id ="map" class="panel-body" style="height:400px;">
                    </div>
                    <div class="panel-footer">
                        Latitude: {{ strain.latitude }}  -  Longitude: {{ strain.longitude }}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if strain.latitude is defined and strain.longitude is defined %}
        <script type="text/javascript">

            var map;
            function initMap() {
                var myLatLng = {lat: {{ strain.latitude }}, lng: {{ strain.longitude}}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 5
                });

                var marker = new google.maps.Marker({
                   position: myLatLng,
                    map: map,
                    title: '{{ strain.systematicName }}'
                });
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgVZEm3cdipu1fZ9wuSH2N0JAP7fXDzg&callback=initMap">
        </script>
    {% endif %}
{% endblock %}
