<div id="filtered-list">
    {% if products is not empty %}
        <div class="table-responsive">
            <table class="table table-striped">
                {% set seller = '' %}
                {% for product in products %}
                    {% if product.seller.name != seller %}
                        {% set seller = product.seller.name %}
                        <thead>
                        <tr class="info">
                            <th colspan="8">
                                {{ product.seller.name }} {% if product.seller.offerReference is not empty %} (Offer n°{{ product.seller.offerReference }}) {% endif %}
                                {% if product.seller.offerName is not null %}
                                    <a class="btn btn-primary btn-sm float-right" href="{{ path('seller_download_offer', { 'slug': product.seller.slug }) }}" role="button">
                                        <span class="fas fa-download"></span> Download offer
                                    </a>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tr>
                            <th>Name</th>
                            <th>Seller</th>
                            <th>Seller reference</th>
                            <th>Catalog price</th>
                            <th>Negotiated price</th>
                            <th>Quote</th>
                        </tr>
                    {% endif %}

                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.seller.name }}</td>
                        <td>{{ product.sellerReference }}</td>
                        <td>{{ product.catalogPrice }} €</td>
                        <td>{{ product.negotiatedPrice }} €</td>
                        <td>
                            {% if product.quoteFile is not null %}
                                <a class="btn btn-primary btn-sm" href="{{ path('product_download_quote', { 'id': product.id, 'slug': product.slug }) }}" role="button">
                                    <span class="fas fa-download"></span> Download quote
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-success text-center" role="alert">
            <h3><span class="far fa-thumbs-up"></span> There are no products to order.</h3>
        </div>
    {% endif %}
</div>
