{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.offerReference) }}

    {{ form_row(form.offerFile) }}

    {{ form_rest(form) }}

    {% block button %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save"/>
            </div>
        </div>
    {% endblock %}
{{ form_end(form) }}
