{% extends "plasmid/base.html.twig" %}

{% block title %}Plasmid{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Plasmids list</li>
{% endblock %}

{% block plasmid_body %}
    {% if app.user.isInGroup %}
        <div>
            <a class="btn btn-default" href="{{ path('plasmid_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a plasmid
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Plasmids list</h2>

    <div class="row">
        <form id="plasmid-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="plasmid-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-2">
                <select id="plasmid-group-field" name="group" class="form-control col-md-3">
                    {% for group in app.user.groups %}
                        <option value="{{ group.id }}"{{ app.user.isFavoriteGroup(group) ? 'selected="selected"' }}>{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button id="plasmid-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}
