{% extends "plasmid/base.html.twig" %}

{% block title %}Plasmid{% endblock %}

{% block plasmid_body %}
    <div>
        <a class="btn btn-default" href="{{ path('plasmid_index') }}">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Plasmids list
        </a>
    </div>

    <h2>
        Plasmid: {{ plasmid.autoName }} - {{ plasmid.name }}
        {% if plasmid.hasGenBankFile %}
            <a type="button" class="btn btn-success btn-md" href="{{ asset(plasmid.genBankFile.webPath) }}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                Download
            </a>
        {% endif %}
    </h2>

    <div class="row">
        {% if plasmid.hasGenBankFile %}
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
                    <li role="presentation"><a href="#genbank" aria-controls="genbank" role="tab" data-toggle="tab">Genbank</a></li>
                    <li role="presentation"><a href="#fasta" aria-controls="fasta" role="tab" data-toggle="tab">FASTA</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="map">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#circular" aria-controls="circular" role="tab" data-toggle="tab">Circular</a></li>
                            <li role="presentation"><a href="#linear" aria-controls="linear" role="tab" data-toggle="tab">Linear</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="circular">
                                {{ gbk|circularPlasmid }}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="linear">
                                {{ gbk|linearPlasmid }}
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="genbank">
                        <pre>
                            {# On the left because pre display all spaces #}
                            {{ gbkFile }}
                        </pre>
                    </div>

                    <div role="tabpanel" class="tab-pane fasta" id="fasta">
                        >>{{ plasmid.name }}<br>
                        {{ gbk.fasta|upper }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                There is no GenBank file attached to this plasmid.
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Strains that contains this plasmid</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Strain</th>
                </tr>
                {% for strainPlasmid in plasmid.strainPlasmids if 'replicative' == strainPlasmid.state %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ path('strain_gmo_view', { 'id': strainPlasmid.gmoStrain.id }) }}">{{ strainPlasmid.gmoStrain.systematicName }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
