{% extends "plasmid/base.html.twig" %}

{% block title %}Plasmid{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('plasmid_index') }}">Plasmids list</a></li>
    <li class="active">{{ plasmid.autoName }} - {{ plasmid.name }}</li>
{% endblock %}

{% block plasmid_body %}
    <div class="row">
        <div class="col-md-10">
            <h2>
                Plasmid: {{ plasmid.autoName }} - {{ plasmid.name }}
                {% if plasmid.hasGenBankFile %}
                    <a type="button" class="btn btn-success btn-md" href="{{ asset(plasmid.genBankFile.webPath) }}">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Download
                    </a>
                {% endif %}
            </h2>
        </div>

        <div class="col-md-2">
            <div class="btn-group btn-group-xs" role="group">
                <a class="btn btn-warning" href="{{ path('plasmid_edit', { 'id': plasmid.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                <a class="btn btn-danger" href="{{ path('plasmid_delete', { 'id': plasmid.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
            </div>
        </div>
    </div>

    <div class="row">
        {% if plasmid.hasGenBankFile %}
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
                    <li role="presentation"><a href="#genbank" aria-controls="genbank" role="tab" data-toggle="tab">Genbank</a></li>
                    <li role="presentation"><a href="#fasta" aria-controls="fasta" role="tab" data-toggle="tab">FASTA</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="map">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#circular" aria-controls="circular" role="tab" data-toggle="tab">Circular</a></li>
                            <li role="presentation"><a href="#linear" aria-controls="linear" role="tab" data-toggle="tab">Linear</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="circular">
                                {{ gbk|circularPlasmid }}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="linear">
                                {{ gbk|linearPlasmid }}
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="genbank">
                        <pre>
                            {# On the left because pre display all spaces #}
                            {{ gbkFile }}
                        </pre>
                    </div>

                    <div role="tabpanel" class="tab-pane fasta" id="fasta">
                        >>{{ plasmid.name }}<br>
                        {{ gbk.fasta|upper }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                There is no GenBank file attached to this plasmid.
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Plasmid used in this strains</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Strain</th>
                </tr>
                {% if plasmid.strainPlasmids is not empty %}
                    {% for strainPlasmid in plasmid.strainPlasmids  %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="{{ path('strain_gmo_view', { 'id': strainPlasmid.gmoStrain.id }) }}">{{ strainPlasmid.gmoStrain.autoName }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center" colspan="4">There is no strains.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Primers</div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>AutoName</th>
                    <th>Name</th>
                    <th>Sequence</th>
                </tr>
                {% if plasmid.primers is not empty %}
                    {% for primer in plasmid.primers %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('primer_view', { 'id': primer.id }) }}">{{ primer.autoName }}</a></td>
                            <td>{{ primer.name }}</td>
                            <td>{{ primer.formatedSequenceWithExtensions|raw }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center" colspan="4">There is no primers.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
