<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Scientific name</th>
                    <th>Main</th>
                    <th>Synonym</th>
                </tr>
            </thead>
            {% if results.results is not empty %}
                {% for species in results.results %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if species.isMainSpecies %}
                                <a href="{{ path('species_view', { 'slug': species.slug }) }}">
                                    {{ species.scientificName }}
                                </a>
                            {% else %}
                                <a href="{{ path('species_view', { 'slug': species.mainSpecies.slug }) }}">
                                    {{ species.scientificName }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if species.isMainSpecies %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if not species.isMainSpecies %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="6">There is no species.</td>
            {% endif %}
        </table>
    </div>

    {% include '_list_pagination.html.twig' with { 'url': path('species_index', {'q': '__query__', 'p': '__page__' }) } %}
</div>
