{% extends "base.html.twig" %}

{% block title %}Edit the species: {{ species.genus.name }} {{ species.name }}{% endblock %}

{% block nav %}
    {% include "nav/strain.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('species_index') }}">Species list</a></li>
    <li class="breadcrumb-item"><a href="{{ path('species_view', { 'slug': species.slug }) }}">{{ species.scientificName }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Edit a species</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">
                    Save changes
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
