<div id="species-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-9">Scientific name</th>
                    <th class="col-md-1">Main</th>
                    <th class="col-md-1">Synonym</th>
                </tr>
            </thead>
            {% if speciesList is not empty %}
                {% for species in speciesList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if species.isMainSpecies %}
                                <a href="{{ path('species_view', { 'slug': species.slug }) }}">
                                    {{ species.scientificName }}
                                </a>
                            {% else %}
                                <a href="{{ path('species_view', { 'slug': species.mainSpecies.slug }) }}">
                                    {{ species.scientificName }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if species.isMainSpecies %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if not species.isMainSpecies %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="6">There is no species.</td>
            {% endif %}
        </table>
    </div>

    <ul class="pagination">
        {% if nbPages > 0 %}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('species_index', {'q': query, 'p': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="active">
                <a href="{{ path('species_index', {'q': query, 'p': 1}) }}">1</a>
            </li>
        {% endif %}
    </ul>
</div>
