{% extends "species/base.html.twig" %}

{% block title %}Add a species{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('species_index') }}">Species list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block species_body %}
    <h2 class="sub-header">Add a species</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if errors is defined and errors is not empty %}
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
