{% extends "base.html.twig" %}

{% block title %}Add a species{% endblock %}

{% block nav %}
    {% include "nav/strain.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('species_index') }}">Species list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Add a species</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
