{% extends "species/base.html.twig" %}

{% block title %}Edit the species: {{ species.genus.name }} {{ species.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('species_index') }}">Species list</a></li>
    <li><a href="{{ path('species_view', { 'slug': species.slug }) }}">{{ species.scientificName }}</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block species_body %}
    <h2 class="sub-header">Edit a species</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-default pull-right" value="Edit"/>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        collectionType($('div#species_synonyms'), 'Add a synonym');
    </script>
{% endblock %}