<div id="species-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Genus</th>
                    <th class="col-md-4">Species</th>
                    <th class="col-md-1">Main</th>
                    <th class="col-md-1">Synonym</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            {% else %}
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-4">Genus</th>
                    <th class="col-md-5">Species</th>
                    <th class="col-md-1">Main</th>
                    <th class="col-md-1">Synonym</th>
                </tr>
            {% endif %}
            </thead>
            {% if speciesList is not empty %}
                {% for species in speciesList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ species.genus.name }}</td>
                        <td>{{ species.name }}</td>
                        <td>
                            {% if species.mainSpecies is null %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if species.mainSpecies is not null %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        {% if app.user.isTeamAdministrator() or app.user.isProjectAdministrator() or is_granted('ROLE_ADMIN') %}
                            <td>
                                {% if species.mainSpecies is null %}
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <a class="btn btn-warning" href="{{ path('species_edit', { 'id': species.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                        <a class="btn btn-danger" href="{{ path('species_delete', { 'id': species.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                    </div>
                                {% else %}
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <a class="btn btn-warning" href="{{ path('species_edit', { 'id': species.mainSpecies.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                        <a class="btn btn-danger" href="{{ path('species_delete', { 'id': species.mainSpecies.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                    </div>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="6">There is no species.</td>
            {% endif %}
        </table>
    </div>

    <ul class="pagination">
        {% if nbPages > 0 %}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('species_index', {'q': query, 'p': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="active">
                <a href="{{ path('species_index', {'q': query, 'p': 1}) }}">1</a>
            </li>
        {% endif %}
    </ul>
</div>
