{% extends "base.html.twig" %}

{% block title %}Edit a group{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Groups</a></li>
    <li class="breadcrumb-item"><a href="{{ path('group_view', { 'slug': group.slug }) }}">{{ group.name }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Edit the group: {{ group.name }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">
                    Save changes
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
