{% extends "base.html.twig" %}

{% block title %}{{ group.name }} - {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Groups</a></li>
    <li class="breadcrumb-item active">{{ group.name }}</li>
{% endblock %}

{% block body %}
    <h2 class="page-header">{{ group.name }}</h2>

    {% if group.isAdministrator(app.user) or is_granted('ROLE_SUPER_ADMIN') %}
        <div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a type="button" class="btn btn-default btn-danger btn-xs pull-right" value="Edit" href="{{ path("group_delete", {'slug': group.slug }) }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            {% endif %}

            <a type="button" class="btn btn-default btn-warning btn-xs pull-right" value="Edit" href="{{ path("group_edit", {'slug': group.slug }) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Administrators</div>
                <ul class="list-group">
                    {% for administrator in group.administrators %}
                        <li class="list-group-item">{{ administrator.firstName }} {{ administrator.lastName }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Members</div>
                <ul class="list-group">
                    {% for member in group.members %}
                        <li class="list-group-item">{{ member.firstName }} {{ member.lastName }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
