<ul class="nav nav-sidebar">
    <li><a href="{{ path('species_index') }}">Species</a></li>
    <li><a href="{{ path('type_index') }}">Types</a></li>
    <li><a href="{{ path('category_index') }}">Categories</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="{{ path('project_index') }}">Projects</a></li>
    <li><a href="{{ path('box_index') }}">Boxes</a></li>
    <li><a href="{{ path('strain_index') }}">Strains</a></li>
</ul>
