<div id="project-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Prefix</th>
                <th class="col-md-8">Description</th>
            </tr>
            </thead>

            <tbody>
            {% if results.results is not empty %}
                {% for project in results.results %}
                    <tr {{ (not project.isValid) ? 'class="warning"' }}>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ path('project_view', { 'id': project.id, 'slug': project.slug }) }}">
                                {{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.prefix }}</td>
                        <td>{{ project.description|truncate(100, true) }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">There are no projects.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if results.nbPages > 1 %}
            <li{% if results.page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('project_index', {'q': results.query, 'p': results.page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, results.nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < results.page and (p >= (results.page - nbBorderPages)) ) or
                ( p == results.page ) or
                ( p > results.page and (p <= (results.page + nbBorderPages)) ) or
                ( p > (results.nbPages - nbExtremPages) )
                %}
                    <li{% if p == results.page %} class="active"{% endif %}>
                        <a href="{{ path('project_index', {'q': results.query, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (results.page - nbBorderPages - 1)) or (p == (results.page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if results.page == results.nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('project_index', {'q': results.query, 'p': results.page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
