<div id="project-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Prefix</th>
                <th class="col-md-8">Description</th>
            </tr>
            </thead>

            <tbody>
            {% if projectList is not empty %}
                {% for project in projectList %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{ path('project_view', { id: project.id }) }}">
                                {{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.prefix }}</td>
                        <td>{{ project.description|truncate(100, true) }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">There are no projects.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% if nbPages > 0 %}
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('project_index', {'q': query, 'p': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="active">
                <a href="{{ path('project_index', {'q': query, 'p': 1}) }}">1</a>
            </li>
        {% endif %}
    </ul>
</div>
