{% extends "project/base.html.twig" %}

{% block title %}Add a project{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('project_index') }}">Projects list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block project_body %}
    <h2 class="sub-header">Add a project</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.prefix) }}
        {{ form_row(form.description) }}
        {{ form_row(form.private) }}
        {{ form_row(form.team) }}
        {{ form_row(form.administrators) }}
        {{ form_row(form.members) }}

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
