{% extends "project/base.html.twig" %}

{% block title %}Edit the project: {{ project.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('project_index') }}">Projects list</a></li>
    <li><a href="{{ path('project_view', { 'id': project.id, 'slug': project.slug }) }}">{{ project.name }}</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block project_body %}
    <h2 class="sub-header">Edit a project</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.prefix) }}
        {{ form_row(form.description) }}
        {{ form_row(form.private) }}
        {{ form_row(form.team) }}
        {{ form_row(form.administrators) }}
        {{ form_row(form.members) }}

        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save changes" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#project_administrators').select2();
        $('#project_members').select2();
    </script>
{% endblock %}
