{% extends "project/base.html.twig" %}

{% block title %}Edit the project: {{ project.name }}{% endblock %}

{% block project_body %}
    <div>
        <a class="btn btn-default" href="{{ path('project_index') }}">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Projects list
        </a>
    </div>

    <h2 class="sub-header">Edit a project</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Edit" class="btn btn-default pull-right"/>
    {{ form_end(form) }}
{% endblock %}
