{% extends "project/base.html.twig" %}

{% block title %}Projects list{% endblock %}

{% block project_body %}
    {% if app.user.isTeamAministratorOrModerator or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('project_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a project
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Projects list</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if app.user.isTeamAministratorOrModerator or is_granted('ROLE_ADMIN') %}
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Prefix</th>
                        <th class="col-md-5">Description</th>
                        <th class="col-md-2">Actions</th>
                    {% else %}
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-2">Prefix</th>
                        <th class="col-md-7">Description</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% if projects is not empty %}
                    {% for project in projects %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.prefix }}</td>
                            <td>{{ project.description|truncate(100, true) }}</td>
                            {% if app.user.isTeamAministratorOrModerator or is_granted('ROLE_ADMIN') %}
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        {% if is_granted('edit', project) %}
                                            <a class="btn btn-warning" href="{{ path('project_edit', { 'id': project.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                        {% endif %}

                                        {% if is_granted('delete', project) %}
                                            <a class="btn btn-danger" href="{{ path('project_delete', { 'id': project.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">There are no projects.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
