{% extends "project/base.html.twig" %}

{% block title %}Projects list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Projects list</li>
{% endblock %}

{% block project_body %}
    {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('project_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a project
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Projects list</h2>

    <div class="row">
        <form id="project-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="project-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-1">
                <button id="project-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            var processing = false;
            $('#project-search-field').keyup(function() {
                var field = $('#project-search-field');

                history.replaceState('', '', Routing.generate('project_index', { q: field.val(), p: 1 }));

                delay(function(){
                    $.ajax({
                        type: 'GET',
                        url: Routing.generate('project_index_ajax', { q: field.val(), p: 1 }),
                        dataType: 'html',
                        delay: 400,
                        beforeSend: function() {
                            if (processing) {
                                return false;
                            } else {
                                processing = true;
                            }
                        },
                        success: function (html) {
                            $('#project-list').replaceWith(html);
                            processing = false;
                        }
                    });
                }, 400 );
            });
        });
    </script>
{% endblock %}
