<div>
    <a class="btn btn-default" href="{{ path('strain_index') }}">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Strains list
    </a>
</div>

<h2 class="sub-header">Delete a strain</h2>

<div class="alert alert-danger" role="alert"><b>WARNING !</b> You're deleting a strain !</div>

<p>Do you confirm the deletion of: <b>{{ strain.systematicName }} - {{ strain.usualName }}</b> ?</p>

{% block formAction %}
<form>
{% endblock %}
    {# Generate CSRF field #}
    {{ form_rest(form) }}

    <a href="{{ path('strain_index') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-chevron-left"></i>
        <b>Cancel !</b> Comeback to strains list
    </a>

    <input type="submit" value="Delete" class="btn btn-danger" />

</form>
