{{ form_start(form) }}
    <div class="alert alert-info" role="alert">
        <h4><span class="glyphicon glyphicon-info-sign"></span> Notice on the team rights </h4>
        <p>In this form, you can link some team ressources: Type, Category, Plasmids, Parental Strains.<br>
            Keep in mind that ressourses are private in your team. If in the Tube section, you add your strain in a project shared by other teams, they can access in "read only" mode to the linked shared ressources.
        </p>
    </div>

    <fieldset>
        <legend>General informations</legend>
        {{ form_row(form.genus) }}
        {{ form_row(form.species) }}

        <div class="form-group">
            {{ form_label(form.type) }}
            <div class="col-sm-9">
                {{ form_widget(form.type) }}
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addTypeModal">
                    Add a type
                </button>
            </div>
        </div>

        {{ form_row(form.name) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.sequenced) }}
        {{ form_row(form.deleted) }}
    </fieldset>

    <fieldset>
        <legend>Tubes</legend>
        {{ form_row(form.tubes) }}
    </fieldset>

    {% block specialFields %}
    {% endblock %}

    {{ form_widget(form) }}
{{ form_end(form) }}

{%block map %}
{% endblock %}
