<h2 class="sub-header">{{ strain.autoName }} - {{ strain.name }}
    {% if is_granted('STRAIN_EDIT', strain) %}
        {% block strainEditButton %}
        {% endblock %}
    {% endif %}
</h2>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Registration informations</div>
            <ul class="list-group">
                <li class="list-group-item">Name: {{ strain.name }}</li>
                <li class="list-group-item">Auto name: {{ strain.autoName }}</li>
                <li class="list-group-item">Created on: {{ strain.creationDate|date("Y/m/d") }}</li>
                <li class="list-group-item">
                    Deleted:
                    {% if strain.deleted %}
                        <span style="color: red;">Yes</span> on {{ strain.deletionDate|date("Y/m/d") }}
                    {% else %}
                        <span style="color: green">No</span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tubes</div>
            <table class="table table-striped">
                <tr>
                    <th>Project</th>
                    <th>Box</th>
                    <th>Cell</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for tube in strain.tubes %}
                    {% if is_granted('TUBE_VIEW', tube) %}
                        <tr>
                            <td>{{ tube.box.project.name }}</td>
                            <td>{{ tube.box.name }}</td>
                            <td>{{ tube.cellName }}</td>
                            <td>
                                {% if tube.deleted %}
                                    <span style="color: red;">Deleted</span> on {{ tube.deletionDate|date('Y/m/d') }}
                                {% else %}
                                    <span style="color: green;">Present</span>
                                {% endif %}
                            </td>
                            <td>
                            {% if is_granted('TUBE_RESTORE', tube) or is_granted('TUBE_DELETE', tube) %}
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    {% if tube.deleted == true and is_granted('TUBE_RESTORE', tube) %}
                                        <a class="btn btn-success" value="Delete" href="{{ path('tube_restore', { 'id': tube.id }) }}">
                                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}

                                    {% if tube.deleted == false and is_granted('TUBE_DELETE', tube) %}
                                    <a class="btn btn-danger" value="Delete" href="{{ path('tube_delete', { 'id': tube.id }) }}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            {% else %}
                                -
                            {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Biological informations</div>
            <ul class="list-group">
                <li class="list-group-item">Type: {{ strain.type.name }}</li>
                <li class="list-group-item">Species: {{ strain.species.genus.name }} {{ strain.species.name }}</li>
                <li class="list-group-item">Sequenced: {{ strain.sequenced ? 'yes' : 'no' }}</li>
                {% block biologicalOrigin %}
                {% endblock %}
            </ul>

            {% block biologicalInformations %}
            {% endblock %}

            <div class="panel-body">
                <p><u>Comment:</u></p>
                <p>{{ strain.comment }}</p>
            </div>
        </div>
    </div>

    {% block plasmids %}
    {% endblock %}

    {% block map %}
    {% endblock %}
</div>
