{% extends "team/base.html.twig" %}

{% block title %}Add a team{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('team_index') }}">Teams</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block team_body %}
    <h2>Add a team</h2>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.team_filter) }}

        <div class="row">
            <div class="col-md-5  col-md-offset-2">
                {{ form_row(form.administrators) }}
            </div>
            <div class="col-md-5">
                {{ form_row(form.members) }}
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
