{% extends "team/base.html.twig" %}

{% block title %}AppBundle:Team:index{% endblock %}

{% block team_body %}
    <h2>Teams list</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a type="button" class="btn btn-default" href="{{ path('team_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a team
            </a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-3">Administrators</th>
                        <th class="col-md-3">Moderators</th>
                        <th class="col-md-1">Members</th>
                        <th class="col-md-2">Actions</th>
                </tr>
            </thead>

            <tbody>
            {% if teams is not empty %}
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('team_view', { 'id': team.id }) }}">{{ team.name }}</a></td>
                        <td>{{ team.administrators|join(', ') }}</td>
                        <td>{{ team.moderators|join(', ') }}</td>
                        <td>{{ team.members|length }}</td>
                            <td>
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    {% if not app.user.hasTeam(team) %}
                                        {% if not app.user.hasRequestedTeam(team) %}
                                            <a class="btn btn-info" href="{{ path('team_request_add', { 'id': team.id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join it</a>
                                        {% else %}
                                            <span class="label label-info"> Requested</span>
                                        {% endif %}
                                    {% endif %}

                                    {% if app.user.isAdministratorOf(team) or is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-warning" href="{{ path('team_edit', { 'id': team.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-danger" href="{{ path('team_delete', { 'id': team.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                    {% endif %}
                                </div>
                            </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">There is no teams.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
