{% extends "team/base.html.twig" %}

{% block title %}AppBundle:Team:index{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Teams</li>
{% endblock %}

{% block team_body %}
    <h2>Teams list</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a type="button" class="btn btn-default" href="{{ path('team_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a team
            </a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-6">Administrators</th>
                    <th class="col-md-1">Members</th>
                    <th class="col-md-1">Request</th>
                    <th class="col-md-1">User status</th>
                </tr>
            </thead>

            <tbody>
            {% if teams is not empty %}
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('team_view', { 'slug': team.slug }) }}">{{ team.name }}</a></td>
                        <td>
                            {{ team.administrators|join(', ') }}
                        </td>
                        <td>{{ team.members|length }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                {% if not team.isMember(app.user) and team.getTeamRequestFor(app.user) is null %}
                                    <a class="btn btn-info" href="{{ path('team_request_add', { 'id': team.id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join it</a>
                                {% elseif team.getTeamRequestFor(app.user) is not null %}
                                    {% set answer = team.getTeamRequestFor(app.user).answer %}
                                    {% if 'accepted' == answer %}
                                        <span class="label label-success">
                                    {% elseif "declined" == answer %}
                                        <span class="label label-danger">
                                    {% else %}
                                        <span class="label label-info">
                                    {% endif %}
                                        {{ answer|capitalize }}
                                    </span>
                                {% elseif team.isMember(app.user) %}
                                    <span class="label label-success">Accepted</span>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {% if team.isMember(app.user) %}
                                <span class="label label-success">Member</span>
                            {% else %}
                                <span class="label label-default">Not member</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">There is no teams.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
