{% extends "team/base.html.twig" %}

{% block title %}AppBundle:Team:index{% endblock %}

{% block team_body %}
    <h2>Teams list</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a type="button" class="btn btn-default" href="{{ path('team_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a team
            </a>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-5">Administrators</th>
                        <th class="col-md-1">Members</th>
                        <th class="col-md-1">Request</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-6">Administrators</th>
                        <th class="col-md-1">Members</th>
                        <th class="col-md-1">Request</th>
                    </tr>
                {% endif %}
            </thead>

            <tbody>
            {% if teams is not empty %}
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('team_view', { 'id': team.id }) }}">{{ team.name }}</a></td>
                        <td>{{ team.administrators|join(', ') }}</td>
                        <td>{{ team.members|length }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                {% if not team.isMember(app.user) and team.getTeamRequestFor(app.user) is null %}
                                    <a class="btn btn-info" href="{{ path('team_request_add', { 'id': team.id }) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Join it</a>
                                {% elseif team.getTeamRequestFor(app.user) is not null %}
                                    {% set answer = team.getTeamRequestFor(app.user).answer %}
                                    {% if 'accepted' == answer %}
                                        <span class="label label-success">
                                    {% elseif "declined" == answer %}
                                        <span class="label label-danger">
                                    {% else %}
                                        <span class="label label-info">
                                    {% endif %}
                                        {{ answer|capitalize }}
                                    </span>
                                {% elseif team.isMember(app.user) %}
                                    <span class="label label-success">Accepted</span>
                                {% endif %}
                            </div>
                        </td>
                        {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                            <td>
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    {% if app.user.isAdministratorOf(team) or is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-warning" href="{{ path('team_edit', { 'id': team.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-danger" href="{{ path('team_delete', { 'id': team.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                    {% endif %}
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">There is no teams.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
