{{ include('box/_delete_confirmation.html.twig') }}
<form action="{{ url('box_delete', { id: box.id }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('box_delete') }}" />
    <div class="btn-group btn-group-xs" role="group">
        {% if is_granted('BOX_EDIT', box) %}
            <a class="btn btn-warning" href="{{ path('box_edit', { 'id': box.id}) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        {% endif %}

        {% if is_granted('BOX_DELETE', box) %}
            <button type="submit" class="btn btn-danger" {{ box.isDeleted ? 'disabled' }}>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
        {% endif %}
    </div>
</form>
