<div id="filtered-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-6">Description</th>
                    <th class="col-md-1">Free space</th>
            </tr>
            </thead>

            <tbody>
            {% if results.results is not empty %}
                {% for box in results.results %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('box_view', { 'id': box.id, 'slug': box.slug }) }}">{{ box.name }}</a></td>
                        <td>{{ box.description|truncate(50, true) }}</td>
                        <td>{{ box.freeSpace }} / {{ box.cellNumber }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">There are no boxes.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if results.nbPages > 1 %}
            <li{% if results.page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('box_index', {'q': results.query, 'group': results.filters.group, 'p': results.page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, results.nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < results.page and (p >= (results.page - nbBorderPages)) ) or
                ( p == results.page ) or
                ( p > results.page and (p <= (results.page + nbBorderPages)) ) or
                ( p > (results.nbPages - nbExtremPages) )
                %}
                    <li{% if p == results.page %} class="active"{% endif %}>
                        <a href="{{ path('box_index', {'q': results.query, 'group': results.filters.group, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (results.page - nbBorderPages - 1)) or (p == (results.page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if results.page == results.nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('box_index', {'q': results.query, 'group': results.filters.group, 'p': results.page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
