{% extends "box/base.html.twig" %}

{% block title %}Add a box{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('box_index') }}">Boxes list</a></li>
    <li class="active">Add</li>
{% endblock %}

{% block box_body %}
    <h2 class="sub-header">Add a box</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
