{% extends "box/base.html.twig" %}

{% block title %}Delete the box: {{ box.name }}{% endblock %}

{% block box_body %}
    <div>
        <a class="btn btn-default" href="{{ path('box_index') }}">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Boxes list
        </a>
    </div>

    <h2 class="sub-header">Delete a box</h2>

    <div class="alert alert-danger" role="alert"><b>CAUTION !</b> You delete a box !</div>

    <p>Do you confirm the deletion of the box: <b>{{ box.name }}</b> ?</p>

    <form action="{{ path('box_delete', {'id': box.id}) }}" method="post">
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}

        <a href="{{ path('box_index') }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <b>Cancel !</b> Comeback in a safe area :)
        </a>

        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>

{% endblock %}
