{% extends "box/base.html.twig" %}

{% block title %}Edit the box: {{ box.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('box_index') }}">Boxes list</a></li>
    <li><a href="{{ path('box_view', { 'id': box.id, 'slug': box.slug }) }}">{{ box.name }} ({{ box.autoName }})</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block box_body %}
    <h2 class="sub-header">Edit a box</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Save changes" class="btn btn-default pull-right"/>
    {{ form_end(form) }}
{% endblock %}
