{% extends "box/base.html.twig" %}

{% block title %}Boxes list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Boxes list</li>
{% endblock %}

{% block box_body %}
    {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('box_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a box
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Boxes list</h2>

    <div class="row">
        <form id="box-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="box-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-2">
                <select id="box-team-field" name="team" class="form-control col-md-3">
                    {% for team in app.user.teams %}
                        <option value="{{ team.id }}"{{ app.user.isFavoriteTeam(team) ? 'selected="selected"' }}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-1">
                <button id="box-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}
