{% extends "box/base.html.twig" %}

{% block title %}Boxes list{% endblock %}

{% block box_body %}
    <div>
        <a class="btn btn-default" href="{{ path('box_add') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a box
        </a>
    </div>

    <h2 class="sub-header">Boxes list</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Auto Name</th>
                        <th class="col-md-1">Name</th>
                        <th class="col-md-2">Description</th>
                        <th class="col-md-1">Project</th>
                        <th class="col-md-1">Type</th>
                        <th class="col-md-1">Free space</th>
                        <th class="col-md-3">Actions</th>
                    {% else %}
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Auto Name</th>
                        <th class="col-md-1">Name</th>
                        <th class="col-md-5">Description</th>
                        <th class="col-md-1">Project</th>
                        <th class="col-md-1">Type</th>
                        <th class="col-md-1">Free space</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% if boxes is not empty %}
                    {% for box in boxes %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('box_view', { 'id': box.id }) }}">{{ box.project.prefix }}_Box{{ box.boxLetter }}</a></td>
                            <td>{{ box.name }}</td>
                            <td>{{ box.description|truncate(50, true) }}</td>
                            <td>{{ box.project.name }}</td>
                            <td>{{ box.type.name }}</td>
                            <td>{{ box.freeSpace }} / {{ box.cellNumber }}</td>
                            {% if app.user.isTeamAdministrator or is_granted('ROLE_ADMIN') %}
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        {% if is_granted('PROJECT_EDIT', box.project) %}
                                            <a class="btn btn-warning" href="{{ path('box_edit', { 'id': box.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                                        {% endif %}

                                        {% if is_granted('PROJECT_DELETE', box.project) %}
                                            {% if box.isDeleted %}
                                                <a class="btn btn-danger" href="#" disabled><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                            {% else %}
                                                <a class="btn btn-danger" href="{{ path('box_delete', { 'id': box.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">There are no boxes.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
