{% extends "box/base.html.twig" %}

{% block title %}Box: {{ box.name }}{% endblock %}

{% block box_body %}
    <div>
        <a class="btn btn-default" href="{{ path('box_index') }}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Liste des boîtes
        </a>
    </div>

    <h2 class="sub-header">Boîte: {{ box.project.prefix }}_Box{{ box.boxLetter }} ({{ box.name }})</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Informations</div>
                <div class="panel-body">
                    <p>{{ box.description }}</p>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Projet: {{ box.project.name }}</li>
                    <li class="list-group-item">Congélateur: {{ box.freezer }}</li>
                    <li class="list-group-item">Emplacement dans le congélateur: {{ box.location }}</li>
                    <li class="list-group-item">Type de boîte: {{ box.type.name }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            {% set letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
            {% set cellWidth, cellHeight = 50, 50 %}
            {% set width = cellWidth * (box.colNumber + 1) %}

            <table class="table table-bordered table-boxes-mapping" width="{{ width }}">
                {% set cellCounter = 0 %}
                {% for r in 0..box.rowNumber %}
                    <tr>
                        {% for c in 0..box.colNumber %}
                            {% if r != 0 %}
                                {% if c != 0 %}
                                    {% if tubes[cellCounter] is defined %}
                                        <td
                                            style="background-color: {{ tubes[cellCounter].deleted ? 'darkgrey' : 'greenyellow' }};"
                                            data-toggle="popover" data-placement="top" data-trigger="hover" data-container="body"
                                            title="{{ tubes[cellCounter].strain.systematicName }}"
                                            data-content="{{ tubes[cellCounter].strain.usualName }}">
                                            {{ cellCounter + 1 }}
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ cellCounter + 1 }}
                                        </td>
                                    {% endif %}

                                    {% set cellCounter = cellCounter + 1 %}
                                {% else %}
                                    {% if r != 0 %}
                                        <th class="text-center" height="{{ cellHeight }}" width="{{ cellWidth }}">{{ letters[r-1] }}</th>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if c != 0 %}
                                    <th class="text-center" height="{{ cellHeight }}" width="{{ cellWidth }}">{{ c }}</th>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Strain list</div>
                <table class="table table-striped">
                    <tr>
                        <th>Cell</th>
                        <th>Auto Name</th>
                        <th>Name</th>
                        <th>Project</th>
                    </tr>

                    {% for tube in box.tubes %}
                        <tr>
                            <td>{{ tube.cellName }}</td>
                            <td>
                                {% if tube.strain.latitude is not defined %}
                                    <a href="{{ path('strain_gmo_view', { id: tube.strain.id }) }}">
                                {% else %}
                                    <a href="{{ path('strain_wild_view', { id: tube.strain.id }) }}">
                                {% endif %}
                                    {{ tube.strain.systematicName }}
                                </a>
                            </td>
                            <td>{{ tube.strain.usualName }}</td>
                            <td>{{ tube.box.project.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
{% endblock %}
