{% extends 'base.html.twig' %}

{% block title %}
    {{ equipment.name }}
{% endblock %}

{% block nav %}
    {% include 'nav/equipment.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('equipment_index') }}">Equipments</a></li>
    <li class="active">{{ equipment.name }}</li>
{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>{{ equipment.name }}</h2>
        </div>

        <div class="panel-body">
            <p>{{ equipment.description }}</p>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Equipment informations</h4></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <u>Location:</u>
                                {% for location in locationPath %}
                                    {% if not loop.first and not loop.last %}
                                        {{ location.name }} /
                                    {% elseif loop.last %}
                                        {{ location.name }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                            <li class="list-group-item"><u>Brand:</u> {{ equipment.brand.name }}</li>
                            <li class="list-group-item"><u>Model:</u> {{ equipment.model }}</li>
                            <li class="list-group-item"><u>Serial number:</u> {{ equipment.serialNumber }}</li>
                            <li class="list-group-item"><u>Inventory number:</u> {{ equipment.inventoryNumber }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Purchase informations</h4></div>
                        <ul class="list-group">
                            <li class="list-group-item"><u>Seller:</u> {% if equipment.seller is not null %}{{ equipment.seller.name }}{% else %} - {% endif %}</li>
                            <li class="list-group-item"><u>Purchase date:</u> {% if equipment.purchaseDate is not null %}{{ equipment.purchaseDate|date('d/m/Y') }}{% else %} - {% endif %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            {{ form_start(delete_form) }}
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-warning" href="{{ path('equipment_edit', { 'id': equipment.id }) }}">
                    <span class="fa fa-edit"></span> Edit
                </a>
                <button type="submit" class="btn btn-danger">
                    <span class="fa fa-trash"></span> Delete
                </button>
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>

    {% include '_delete_confirmation.html.twig' %}
{% endblock %}
