{# app/Ressources/views/search/quickSearchResults.html.twig #}

{% extends 'base.html.twig' %}

{%block title %}
    Advanced search - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Advanced search</li>
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
        {{ form_end(form) }}
    </div>

    <div class="row">
        {% include ":search:searchResults.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            showHide($('.showhide-1 > h3'), $('.showhide-1 > div'));
            showHide($('.showhide-2 > h3'), $('.showhide-2 > div'));
        });
    </script>
{% endblock %}
