{# app/Ressources/views/search/quickSearchResults.html.twig #}

{% extends 'base.html.twig' %}

{%block title %}
    Search Results - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Quick search</li>
{% endblock %}

{% block body %}
    <h1>Results for "<i>{{ search }}</i>"</h1>
    <h3>Too many results ? Try the <a href="{{ path('advanced-search') }}">Advanced Search</a></h3>

    {% include ":search:searchResults.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            showHide($('.showhide-1 > h3'), $('.showhide-1 > div'));
            showHide($('.showhide-2 > h3'), $('.showhide-2 > div'));
            showHide($('.showhide-3 > h3'), $('.showhide-3 > div'));
            showHide($('.showhide-4 > h3'), $('.showhide-4 > div'));
        });
    </script>
{% endblock %}
