{# app/Ressources/views/search/quickSearchResults.html.twig #}

{% extends 'base.html.twig' %}

{%block title %}
    Search Results - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Results for "<i>{{ search }}</i>"</h2>
    <p><a href="{{ url('advanced-search') }}">Advanced Search</a></p>

    <div>
        <h3>Gmo Strains</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Auto Name</th>
                <th>Name</th>
            </tr>
            {% if results['gmo'] is not empty %}
                {% for result in results['gmo'] %}
                    <tr data-href="{{ url('strain_gmo_view', { id: result.id}) }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ result.systematicName }}</td>
                        <td>{{ result.usualName }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align:center;">There is no result.</td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div>
        <h3>Wild Strains</h3>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Auto Name</th>
                <th>Name</th>
            </tr>
            {% if results['wild'] is not empty %}
                {% for result in results['wild'] %}
                    <tr data-href="{{ url('strain_wild_view', { id: result.id}) }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ result.systematicName }}</td>
                        <td>{{ result.usualName }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align:center;">There is no result.</td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('table tr').click(function(){
                window.location = $(this).data('href');
                return false;
            });
        });
    </script>
{% endblock %}
