{% if results is defined  %}
    {% if results is not empty %}
        <h3>Number of results: {{ results|length }}</h3>

        {% for result in results %}
            <div class="search-result">
                {% if result is strain %}
                    <h4><a href="{{ path('strain_view', { 'id': result.id, 'slug': result.slug }) }}">{{ result.name }} ({{ result.autoName }})</a></h4>
                    <p>
                        <span class="category">{{ result.group.name }} - {{ 'gmo' == result.discriminator ? 'GMO' : 'Wild' }} strain</span><br />
                        Species: {{ result.species.scientificName }}

                    </p>
                {% elseif result is plasmid %}
                    <h4><a href="{{ path('plasmid_view', { 'id': result.id, 'slug': result.slug }) }}">{{ result.name }} ({{ result.autoName }})</a></h4>
                    <p>
                        <span class="category">{{ result.group.name }} - Plasmid</span><br />
                    </p>
                {% elseif result is primer %}
                    <h4><a href="{{ path('primer_view', { 'id': result.id, 'slug': result.slug }) }}">{{ result.name }} ({{ result.autoName }})</a></h4>
                    <p>
                        <span class="category">{{ result.group.name }} - Primer</span><br />
                        Sequence: {{ result.sequence }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info search-result" role="alert">There is no result</div>
    {% endif %}
{% endif %}
