<div id="primer-list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-7">Sequence</th>
                <th class="col-md-1">Orientation</th>
                <th class="col-md-1">AutoName</th>
            </tr>
            </thead>
            {% if results.results is not empty %}
                {% for primer in results.results %}
                    <tr>
                        <td>{{ loop.index }}</td>

                        <td>{{ primer.name }}</td>
                        <td><span class="five-prime-extension">{{ primer.fivePrimeExtension }}</span>{{ primer.sequence }}</td>
                        <td>{{ primer.orientation|capitalize }}</td>
                        <td><a href="{{ path('primer_view', { 'id': primer.id, 'slug': primer.slug }) }}">{{ primer.autoName }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-center" colspan="6">There is no primers.</td>
            {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        {% set nbExtremPages, nbBorderPages = 3, 2 %}

        {% if results.nbPages > 1 %}
            <li{% if results.page == 1 %} class="disabled"{% endif %}>
                <a href="{{ path('primer_index', {'q': results.query, 'p': results.page - 1}) }}">&laquo;</a>
            </li>

            {% for p in range(1, results.nbPages) %}
                {% if
                ( p <= nbExtremPages ) or
                ( p < results.page and (p >= (results.page - nbBorderPages)) ) or
                ( p == results.page ) or
                ( p > results.page and (p <= (results.page + nbBorderPages)) ) or
                ( p > (results.nbPages - nbExtremPages) )
                %}
                    <li{% if p == results.page %} class="active"{% endif %}>
                        <a href="{{ path('primer_index', {'q': results.query, 'p': p}) }}">{{ p }}</a>
                    </li>
                {% elseif
                ((p == (results.page - nbBorderPages - 1)) or (p == (results.page + nbBorderPages + 1 )))
                %}
                    <li>
                        <span>...</span>
                    </li>
                {% endif %}
            {% endfor %}

            <li{% if results.page == results.nbPages %} class="disabled"{% endif %}>
                <a href="{{ path('primer_index', {'q': results.query, 'p': results.page + 1}) }}" >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
