{% extends "primer/base.html.twig" %}

{% block title %}Add a primer{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('primer_index') }}">Primer list</a></li>
    <li class="active">Add a primer</li>
{% endblock %}

{% block primer_body %}
    <div class="row">
        <h2 class="sub-header">Add a primer</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="row">
        <br />
        {% include 'primer/sequence_letters_table.html.twig' %}
    </div>
{% endblock %}
