{% extends "primer/base.html.twig" %}

{% block title %}Delete the primer: {{ primer.autoName }} - {{ primer.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('primer_index') }}">Primers list</a></li>
    <li><a href="{{ path('primer_view', { id: primer.id }) }}">{{ primer.autoName }} - {{ primer.name }}</a></li>
    <li class="active">Delete</li>
{% endblock %}

{% block primer_body %}
    <h2 class="sub-header">Delete a primer</h2>

    <div class="alert alert-danger" role="alert"><b>CAUTION !</b> You delete a primer !</div>

    <p>Do you confirm the deletion of the primer: <b>{{ primer.autoName }} - {{ primer.name }}</b> ?</p>

    <form action="{{ path('primer_delete', { 'id': primer.id}) }}" method="POST">
        {{ form_rest(form) }}

        <a class="btn btn-success" href="{{ path('primer_view', { id: primer.id }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <b>Cancel !</b> Comeback in a safe area :)
        </a>
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </form>

{% endblock %}
