{% extends "primer/base.html.twig" %}

{% block title %}Edit the primer: {{ primer.autoName }} - {{ primer.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('primer_index') }}">Primers list</a></li>
    <li><a href="{{ path('primer_view', { 'id': primer.id, 'slug': primer.slug }) }}">{{ primer.autoName }} - {{ primer.name }}</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block primer_body %}
    <div class="row">
        <h2 class="sub-header">Edit a primer</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Save changes" />
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="row">
        <br />
        {% include 'primer/sequence_letters_table.html.twig' %}
    </div>
{% endblock %}
