{% extends "primer/base.html.twig" %}

{% block title %}Primers list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Primers list</li>
{% endblock %}

{% block primer_body %}
    {% if app.user.isInTeam %}
        <div>
            <a class="btn btn-default" href="{{ path('primer_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a primer
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Primers list</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-7">Sequence</th>
                    <th class="col-md-1">Orientation</th>
                    <th class="col-md-1">AutoName</th>
                </tr>
            </thead>
                {% if primers is not empty %}
                    {% for primer in primers %}
                        <tr>
                            <td>{{ loop.index }}</td>

                            <td>{{ primer.name }}</td>
                            <td>{{ primer.formatedSequenceWithExtensions|raw }}</td>
                            <td>{{ primer.orientation|capitalize }}</td>
                            <td><a href="{{ path('primer_view', { 'id': primer.id }) }}">{{ primer.autoName }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td class="text-center" colspan="6">There is no primers.</td>
                {% endif %}
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
