{% extends "primer/base.html.twig" %}

{% block title %}Primer: {{ primer.autoName }} - {{ primer.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('primer_index') }}">Primers list</a></li>
    <li class="active">{{ primer.autoName }} - {{ primer.name }}</li>
{% endblock %}

{% block primer_body %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="sub-header">Primer: {{ primer.autoName }} - {{ primer.name }}</h2>
        </div>

        <div class="col-md-4">
            <div class="text-right">
                {% embed "primer/_delete_form.html.twig" with { primer: primer } only %}
                    {% block btn %}
                        {% if is_granted('PRIMER_EDIT', primer) %}
                            <a class="btn btn-warning" href="{{ path('primer_edit', { 'id': primer.id, 'slug': primer.slug }) }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            </div>

            <p class="text-right">
                Created the {{ primer.created|date("m/d/Y") }} by {{ primer.createdBy.fullName }}<br>
                Edited the {{ primer.updated|date("m/d/Y") }} by {{ primer.updatedBy.fullName }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Informations</div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">AutoName: {{ primer.autoName }}</li>
                    <li class="list-group-item">Name: {{ primer.name }}</li>
                    <li class="list-group-item">Orientation: {{ primer.orientation|capitalize }}</li>
                    {% if primer.hybridationTemp is not null %}
                        <li class="list-group-item">Hybridation temperature: {{ primer.hybridationTemp }}°C</li>
                    {% endif %}
                </ul>
                <div class="panel-body">
                    <p>Description:</p>
                    <p>{{ primer.description ? primer.description : 'N/A' }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Sequence</div>
                <!-- List group -->
                <div class="panel-body">
                    <span class="five-prime-extension">{{ primer.fivePrimeExtension }}</span>{{ primer.sequence }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% include 'primer/sequence_letters_table.html.twig' %}
    </div>
{% endblock %}
